#modal-form.modal.in
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} ×
        %h4.orange.bigger Dodaj działkę
      .modal-body
        %form.form-horizontal{role: "form"}
          .form-group
            %label.bolder.orange.col-sm-4.control-label.no-padding-right{for: "form-field-1"} Miasto/wieś
            .col-sm-8
              %input#form-field-1.col-xs-10.col-sm-8{placeholder: "Miasto/wieś", type: "text", value: ""}
          .space-4
          .form-group
            %label.bolder.orange.col-sm-4.control-label.no-padding-right{for: "form-field-2"} Kod
            .col-sm-8
              %input#form-field-2.col-xs-10.col-sm-8{placeholder: "123456.789", type: "text", value: ""}
          .space-4
          .form-group
            %label.bolder.orange.col-sm-4.control-label.no-padding-right{for: "form-field-3"} Powierzchnia ewidencyjna
            .col-sm-8
              %input#form-field-3.col-xs-10.col-sm-8{placeholder: "2.5", type: "text", value: ""}
              %span.help-inline.col-xs-2.col-sm-4
                %span.middle hektara
          .space-4
          .form-group
            %label.bolder.orange.col-sm-4.control-label.no-padding-right{for: "form-field-3"} Powierzchnia uprawiana
            .col-sm-8
              %input#form-field-3.col-xs-10.col-sm-8{placeholder: "2.5", type: "text", value: ""}
              %span.help-inline.col-xs-2.col-sm-4
                %span.middle hektara
          .space-4
      .modal-footer
        %button.btn.btn-sm{"data-dismiss" => "modal"}
          %i.icon-times
          Anuluj
        %button.btn.btn-sm.btn-primary
          %i.icon-check
          Zapisz