.widget-toolbox
  .btn-toolbar
    .pull-left.field-card-toolbox-group
      .btn.btn-sm.btn-purple
        %i.icon-crosshairs

    .pull-left.field-card-toolbox-group
      .btn.btn-sm.btn-info
        Pokaż działki ewidencyjne
    .pull-left.field-card-toolbox-group
      .btn.btn-sm.btn-info
        Pokaż ortofotomapę
    .pull-left.field-card-toolbox-group
      .field-card-toolbox-input
        .input-group
          %input.form-control.search-query{placeholder: "lokalizacja: np. wroclaw ", type: "text"}
          %span.input-group-btn
            %button.btn.btn-info.btn-sm{type: "button"}
              %i.icon-search.icon-on-right.bigger-110
    .pull-right.field-card-toolbox-group
      .field-card-toolbox-input
        .input-group
          %input.form-control.search-query{placeholder: "nazwa pola np. A1/12", type: "text"}
          %span.input-group-btn
            %button.btn.btn-info.btn-sm{type: "button"}
              %i.icon-search.icon-on-right.bigger-110
