%section
  %h3.header.smaller.orange
    Działki ewidencyjne
    .pull-right
      %button.btn.btn-primary.btn-sm{ role: "button", href: "#modal-form", :data => {toggle: "modal"}}
        %i.icon-plus
        Dodaj działkę
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Miasto/wieś
        %th Kod
        %th Pow. ewidencyjna
        %th Pow. uprawiana
    %tbody
      %tr
        %td Leśnica
        %td A16578.787
        %td 4 ha
        %td 1.5 ha
      %tr
        %td Leśnica
        %td A16658.787
        %td 2 ha
        %td 0.5 ha
      %tr.sum-total
        %td.align-right.bolder{ colspan: "2" } Suma
        %td 6 ha
        %td 2 ha