#map.field-card-map
- content_for :required_scripts do
  %script{:src => "//svn.osgeo.org/metacrs/proj4js/trunk/lib/proj4js-compressed.js"}
  %script{:src => "//openlayers.org/api/2.13.1/OpenLayers.js"}
  %script{:src => "//maps.google.com/maps/api/js?sensor=false&.js"}
  / %script{:src => "//dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.1"}
.on-map-controls
  .btn-group
    %button.btn.btn-sm.btn-purple
      %i.icon-pencil
    %button.btn.btn-sm.btn-purple
      %i.icon-arrows
    %button.btn.btn-sm.btn-purple
      %i.icon-eraser
.field-info-box.width-40.tabbable
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#basic-field-info"}
        %i.icon-info
        Info

    %li
      %a{"data-toggle" => "tab", href: "#field-works"}
        %i.icon-list-ul
        Zabiegi
    %li
      %a{"data-toggle" => "tab", href: "#field-plants"}
        %i.icon-leaf
        Rośliny
    %li
      %a{"data-toggle" => "tab", href: "#field-soil"}
        %i.icon-flask
        Gleba
  .tab-content
    #basic-field-info.tab-pane.active
      %section
        %h3.header.smaller.green
          Pole A1
          %small
            %i.icon-leaf
            Pszenica

          .pull-right
            %button.btn.btn-primary.btn-sm
              %i.icon-edit
              Edytuj
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Nazwa
          .col-sm-8
            %span A1
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Nazwa zwyczajowa
          .col-sm-8
            %span Pole za górką
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Powierzchnia ewidencyjna
          .col-sm-8
            %span 2.34 ha
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Powierzchnia uprawiana
          .col-sm-8
            %span 2.0 ha
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Użytkowanie
          .col-sm-8
            %span Grunty orne
        .clearfix
          %label.bolder.green.align-right.col-sm-4.no-padding Dzierżawa
          .col-sm-8
            %span Tak
      = render "field_card_lots"

    #field-works.tab-pane
      %h3.header.smaller.green
        Pole A1
      %p Przeprowadzone zabiegi

    #field-plants.tab-pane
      %h3.header.smaller.green
        Pole A1
      %p Uprawiane rośliny

    #field-soil.tab-pane
      %h3.header.smaller.green
        Pole A1
      %p Gleba

- content_for :scripts do
  = javascript_include_tag 'modules'

  :coffeescript
    $(document).ready ->
      searchCbfn = (data) ->
        $("#searchResults").html ""
        for el in data
          do (el) -> $("#searchResults").append "<div data-lonlat=\"[\#{el.lonLat[0]},\#{el.lonLat[1]}]\" class=\"result\">\#{el.name}</div>"

      clearSearchFn = -> $("#searchResults").html "No results"
      map = new window.App.Modules.Map(
        searchFailFn: clearSearchFn
        searchSuccessFn: searchCbfn
        geoLocation:
          getLocationErrorFn: -> alert 'nie można znaleźć lokalizacji'
          getLoactionSuccessFn: (lonLat) -> alert "\#{lonLat[0]}, \#{lonLat[1]}"
        mapOpts:
          div: "map"
          center: [19.0258159, 52.0977181]
          zoom: 7
          zoomWheelEnabled: false


      ).initMap()
      window.m = map
      searchFn = -> map.search $("#searchText").val()


      $("#addOrto").on("click", => map.bindMapLayer('ortofoto'))
      $("#addDzkat").on("click", => map.bindMapLayer('dzkat'))
      $("#addPRNG").on("click", => map.bindMapLayer('prng'))
      $("#addPRG").on("click", => map.bindMapLayer('prg'))
      $("#addPRGGranice").on("click", => map.bindMapLayer('prggranice'))

      $("#searchButton").on "click", searchFn
      $("#searchText").on "keyup", (e) -> searchFn()  if e.keyCode is 13
      $("#setCenterByGeoLocation").on "click", (e) -> map.setCenterByGeoLocation()

      $("#polygonPoints").on "click", (e) ->
        if map._currentShape && map._currentShape.points
          $('#poligonPoints').html ( "[\#{p.lon}, \#{p.lat}]" for p in map._currentShape.points).join(', ')

      $("#drawButton").on "click", (e) ->
        name = $('#fieldName').val() if $('#fieldName').val() isnt ''
        map.drawMode(name)

      $("#searchResults").on "click", ".result", (e) ->
        $this = $(this)
        lonLat = $this.data("lonlat")
        map.panTo lonLat
        map.zoomTo 16
