!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.5", name: "viewport"}/
    %title Dostałeś zaporszenie od jednego z naszych użytkowników
    :css
      /*<![CDATA[*/
      body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}
      table{border-collapse:collapse;}
      img, a img{border:0; outline:none; text-decoration:none;}
      a{text-decoration:none; color: #595959;}
      h1, h2, h3, h4, h5, h6{margin:0; padding:0; margin-bottom: 8px;font-weight: normal;}
      h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {font-weight: bold;}
      p{margin: 1em 0;}
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
      img{-ms-interpolation-mode: bicubic;}
      body, table, td, p, a, li, blockquote{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
      body, #bodyTable{background-color:#F5F5F5;}

      @media only screen and (max-width: 480px) {
        body{width:100% !important; min-width:100% !important;}
        table[id="emailBody"]{width:100% !important;}
        table[class="flexibleContainer"]{width:100% !important;}
        img[class="flexibleImage"]{width:100% !important;}
        table[class="emailButton"]{width:100% !important;}
        td[class="buttonContent"]{padding:0 !important;}
        td[class="buttonContent"] a{padding:15px !important;}
        td[class="textContentLast"], td[class="imageContentLast"]{padding-top:20px !important;}

        td[id="bodyCell"]{padding-top:10px !important; padding-Right:10px !important; padding-Left:10px !important;}
      }
      /*]]>*/

    /[if mso 12]
      <style type="text/css">
      \.flexibleContainer{display:block !important; width:100% !important;}
      </style>
    /[if mso 14]
      <style type="text/css">
      \.flexibleContainer{display:block !important; width:100% !important;}
      </style>

  %body{style: "height:100% !important; margin:0; padding:0; width:100% !important; background-color:#F5F5F5;"}
    %table#bodyTable{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "background-color:#F5F5F5; height:100% !important; margin:0; padding:0; width:100% !important; border-collapse:collapse;"}
      %tr
        %td#bodyCell{align: "center", valign: "top", style: "height:100% !important; margin:0; padding:0; width:100% !important;padding-top:40px; padding-bottom:40px;"}
          %table#emailBody{border: "0", cellpadding: "0", cellspacing: "0", width: "600", style: "border-collapse:collapse;background-color:#FFFFFF; border:1px solid #DDDDDD; border-collapse:separate; border-radius:4px;"}
            %tr
              %td{align: "center", valign: "top"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                  %tr
                    %td{align: "center", valign: "top"}
                      %table.flexibleContainer{border: "0", cellpadding: "0", cellspacing: "0", width: "600", style: "border-collapse:collapse;"}
                        %tr
                          %td.flexibleContainerCell{align: "center", valign: "top", width: "600", style: "padding-left: 0;"}

                            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                              %tr
                                %td.textContent{valign: "top"}
                                  / %img{id: "headerImage campaign-icon", src: "#{image_path('emailheader.jpg')}", style: "width:640px; height:258px; outline: 0;"}
                                  %img{id: "headerImage campaign-icon", src: "http://i.imgur.com/jAqzxmD.jpg", style: "width:600px; height:px; outline: 0;"}
                        %tr
                          %td.flexibleContainerCell{align: "center", valign: "top", width: "600", style: "padding-top:20px; padding-Right:20px; padding-Left:20px;"}

                            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                              %tr
                                %td.textContent{valign: "top", style: "color:#404040; font-family:Helvetica,Verdana,sans-serif; font-size:16px; line-height:125%; text-align:Left; padding-bottom:20px;"}
                                  %h2{style: "margin:0; padding:0; margin-bottom: 15px;font-weight: normal; font-size: 18px;color:#202020; font-family:Helvetica,Verdana,sans-serif; line-height:125%; text-align:left;"}
                                    Użytkownik
                                    %b
                                      = [@user.first_name, @user.last_name, "<#{@user.email}>"].compact.uniq.join(' ')
                                    zaprosił Cie do korzystania z serwisu
                                    %a{href: "http://efarm.pl", style: "text-decoration:none; color: #428102;"}
                                      efarm.pl
                                    !

                                  %h3{style: "margin:0; padding:0; margin-bottom: 0;font-weight: normal; font-size: 16px;color:#202020; font-family:Helvetica,Verdana,sans-serif; line-height:125%; text-align:left;"}
                                    By założyć konto kliknij link poniżej:

            %tr
              %td{align: "center", valign: "top"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                  %tr
                    %td{align: "center", valign: "top"}

                      %table.flexibleContainer{border: "0", cellpadding: "0", cellspacing: "0", width: "600", style: "border-collapse:collapse;"}
                        %tr
                          %td.flexibleContainerCell.bottomShim{align: "center", valign: "top", width: "600", style: "padding-top:10px; padding-Right:20px; padding-Left:20px;padding-bottom:0;"}
                            %table.emailButton{border: "0", cellpadding: "0", cellspacing: "0", width: "260", style: "margin: 5px 0; border-collapse:collapse;background-color:#428102; border-collapse:separate; border-radius:4px;"}
                              %tr
                                %td.buttonContent{align: "center", valign: "middle", style: "color:#FFFFFF; font-family:Helvetica,Verdana,sans-serif; font-size:18px; font-weight:bold; line-height:100%; padding:15px; text-align:center;"}
                                  %h2{style: "margin:0;padding:0; text-align:center;font-weight:bold; font-size: 20px;color:#202020; font-family:Helvetica,Verdana,sans-serif; line-height:125%;"}
                                    %a{href: "http://efarm.pl", style: "color:#FFFFFF; font-weight: bold; display:block; text-decoration:none; padding: 0; margin: 0;"}
                                      Załóż konto

            %tr
              %td{align: "center", valign: "top"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                  %tr
                    %td{align: "center", valign: "top"}
                      %table.flexibleContainer{border: "0", cellpadding: "0", cellspacing: "0", width: "600", style: "border-collapse:collapse;"}
                        %tr
                          %td.flexibleContainerCell{align: "center", valign: "top", width: "600", style: "padding-top:10px;"}

                            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                              %tr
                                %td.textContent{valign: "top", style: "color:#404040; font-family:Helvetica,Verdana,sans-serif; font-size:16px; line-height:125%; text-align:Left; padding-bottom:20px;"}
                                  %br/
                                  Lub skopiuj poniższy link i wklej go w pasek adresu przeglądarki:
                                  %br/
                                  %a{href: "http://efarm.pl", style: "text-decoration:none; color: #428102;"}
                                    http://efarm.pl

    %br/