.setup-wizzard
  .page-content
    .row
      .col-xs-12
        .row-fluid
          .span12
            #baseConfigurationWizard
              #fuelux-wizard.row-fluid{"data-target" => "#step-container"}
                .center
                  %h2.bolder.green
                    %i.icon-gears
                    Konfiguracja konta
                %hr
                %ul.wizard-steps
                  %li.active{"data-target" => '#step1'}
                    %span.step 1
                    %span.title Wprowadzenie
                  %li{"data-target" => '#step2'}
                    %span.step 2
                    %span.title Ustawienie sezonu
                  %li{"data-target" => '#step3'}
                    %span.step 3
                    %span.title Wprowadzenie gospodarstwa
                  %li{"data-target" => '#step4'}
                    %span.step 4
                    %span.title Zakończenie
              #step-container.step-content.row-fluid.position-relative
                #step1.step-pane.active
                  %h2.header.green.top-m25.center Krok 1 - wprowadzenie
                  .clear-b.center
                    %h3.green
                      %i.icon-leaf
                      Witamy w
                      %span.bolder EFarm.pl
                    %p Aby rozpocząć pracę w sytemie, należy wprowadzić kilka podstawowych danych. Które pozwolą kontynuować pracę w systemie.
                    %h5 Powodzenia!
                #step2.step-pane
                  %h2.header.green.top-m25.center Krok 2 - Wybierz sezon
                  %ul.js-wizard-seasons.dotted-steps.clearfix

                  .setup-wizzard-info-box.blue.align-center
                    %h4.bolder
                      %i.icon-info-circle
                      Sezon ma na celu:
                    %p Zgrupować prace przeporowazanie w gospodarstwie.
                    %p Zaznaczyć początek oraz koniec zbiorów.
                    %p Na jego podstawie stworzysz raporty które pomogą określić zyski i straty związane z pracami w gospodarswie.

                #step3.step-pane
                  %h2.header.green.top-m25.center Krok 3 - Dane gospodarstwa
                  %h4.bolder.center.blue Podstawowe informacje
                  %form#wizardSetupFarm.form-horizontal{method: 'POST', action: home_wizard_completed_url(token: token)}
                    %input#season{name: "season", type: "hidden", value: "#{current_year}"}
                    .form-group
                      %label.control-label.col-xs-12.col-sm-4.no-padding-right.bolder.blue{for: "name"} Nazwa
                      .col-xs-12.col-sm-8
                        .clearfix
                          %input#name.col-xs-12.col-sm-6{name: "name", type: "text", value: ""}
                    .form-group
                      %label.control-label.col-xs-12.col-sm-4.no-padding-right.bolder.blue{for: "shortName"} Nazwa skrócona
                      .col-xs-12.col-sm-8
                        .clearfix
                          %input#shortName.col-xs-12.col-sm-6{name: "short_name", type: "text", value: ""}
                #step4.step-pane
                  %h2.header.green.top-m25.center Krok 4
                  .clear-b.center
                    %h4.bolder.blue Gratulacje!
                    %p Podstawowe dane zostały wypełnione, teraz możesz jeszcze polecić znajomym nasz serwis lub zapisać dane i kontynuować pracę.
                    %p
                      %button#wizardBtnInviteFriend.btn.btn-primary.btn-large
                        %i.icon-group
                        Poleć znajomym
              .footer.wizard-actions
                %button.btn.btn-small.btn-prev
                  %i.icon-arrow-left
                  Wstecz
                %button.btn.btn-success.btn-small.btn-next{"data-last" => "Zakończ"}
                  Dalej
                  %i.icon-arrow-right.icon-on-right

            - content_for :scripts do
              %script#seasonElem{type: 'text/x-handlebars-template'}
                {{#each seasons}}
                %li{class: "{{#if selected}}selected{{/if}}", "data-year" => "{{value}}", style: "min-width: 20%; max-width: 20%;"}
                  %span.step
                  %span.title {{name}}
                {{/each}}

              = javascript_include_tag 'page_home'
              :coffeescript
                window.App.config =
                  ErrorLogger:
                    propagateErrors: false
                    url: "#{api_logger_error_url}"
                    user: "#{current_user.email}"
                    token: "#{current_user.auth_token}"

                  HttpTransaction:
                    token: "#{current_user.auth_token}"

                  ModuleManager:
                    modulesNamespace: window.App.Modules

                  ModelProvider:
                    modelsNamespace: window.App.Models
                    collectionsNamespace: window.App.Collections

                  CoreInitializer:
                    modules: ['InviteFriends']

                  TemplateProvider:
                    templatesNamespace: window.HandlebarsTemplates || window.tpl
                    templatePrefix: if window.HandlebarsTemplates? then 'app/templates' else null

                window.App.urls =
                  InviteFriendsUrl: "#{api_send_email_invite_friends_url}"
                  ModuleDownloaderUrl: 'none'

                initializer = new window.App.Core.Initializer(window.App.config, window.App.urls)
                initializer.init()
                initializer.registerModules()
                new window.App.Controllers.ConfigurationWizard(#{current_year})