%h1 Modules
%p Modules of the EFarm project
%h2 Map
#poligonPoints
%button#setCenterByGeoLocation Znajdz mnie na mapie
%button#polygonPoints Wypisz współrzędne pola
%button#drawButton Oznacz pole
%button#modifyButton Dodaj wyłączenie
%button#mergeButton Dodaj scalenie
%input#fieldName{type:'text', placeholder: 'nazwa pola np:. A1/12'}
%button#searchButton Szukaj
%input#searchText{type:'text', placeholder: 'lokalizacja: np:. wroclaw kfc'}
%button#addOrto Pokaż OrtoFotoMapę
%button#addDzkat Pokaż Działki ewidencyjne
%button#undo Undo
%button#redo Redo

%button#readGeoJson Wczytaj kształt (GeoJson)

#searchResults

#map

- content_for :scripts do
  :css
    #map{
      width: 100%;
      height: 600px;
    }

  :coffeescript
    searchCbfn = (data) ->
      $("#searchResults").html ""
      for el in data
        do (el) -> $("#searchResults").append "<div data-lonlat=\"[\#{el.lonLat[0]},\#{el.lonLat[1]}]\" class=\"result\">\#{el.name}</div>"
    clearSearchFn = -> $("#searchResults").html "No results"

    window.App.config =
      ErrorLogger:
        propagateErrors: true
        url: "#{api_logger_error_url}"
        user: "dev@efarm.pl"
        token: "dev"

      HttpTransaction:
        token: "dev"

      ModuleManager:
        modulesNamespace: window.App.Modules

      ModelProvider:
        modelsNamespace: window.App.Models
        collectionsNamespace: window.App.Collections

      CoreInitializer:
        modules: ['Map']

      TemplateProvider:
        templatesNamespace: window.HandlebarsTemplates || window.tpl
        templatePrefix: if window.HandlebarsTemplates? then 'app/templates' else null

      Map:
        searchFailFn: clearSearchFn
        searchSuccessFn: searchCbfn
        geoLocation:
          getLocationErrorFn: -> alert 'nie można znaleźć lokalizacji'
          getLoactionSuccessFn: (lonLat) -> alert "\#{lonLat[0]}, \#{lonLat[1]}"

      SettingManager:
        data: {}

    window.App.urls =
      ModuleDownloaderUrl: 'none'
      InviteFriendsUrl: 'none'
      SeasonUrl: 'none'
      ProfileOwnUrl: "#{api_profiles_own_url}"
      FarmsUrl: "#{api_farms_index_url}"
      SeasonsUrl: "#{api_seasons_index_url}"
      SettingsUrl: "#{api_settings_url}"
      FieldsUrl: null
      DefaultAvatarImageUrl: "#{image_path('themes/avatars/avatar_default.jpg')}"

    initializer = new window.App.Core.Initializer(window.App.config, window.App.urls)
    initializer.init()
    initializer.registerModules()
    initializer.startHistory()

    map = App.reqres.request('Map-init', { div: "map", center: [19.0258159, 52.0977181], zoom: 10})

    searchFn = -> map.search $("#searchText").val()

    $("#addOrto").on("click", => map.bindMapLayer('ortofoto'))
    $("#addDzkat").on("click", => map.bindMapLayer('dzkat'))
    $("#addPRNG").on("click", => map.bindMapLayer('prng'))
    $("#addPRG").on("click", => map.bindMapLayer('prg'))
    $("#addPRGGranice").on("click", => map.bindMapLayer('prggranice'))

    $("#searchButton").on "click", searchFn
    $("#searchText").on "keyup", (e) -> searchFn()  if e.keyCode is 13
    $("#setCenterByGeoLocation").on "click", (e) -> map.setCenterByGeoLocation()

    $("#polygonPoints").on "click", (e) ->
      if map._currentShape && map._currentShape.points
        $('#poligonPoints').html ( "[\#{p.lon}, \#{p.lat}]" for p in map._currentShape.points).join(', ')

    $("#drawButton").on "click", (e) ->
      name = $('#fieldName').val() if $('#fieldName').val() isnt ''
      map.drawShape(name)

    $('#modifyButton').on 'click', (e) ->
      map.addExclusion()

    $('#mergeButton').on 'click', (e) ->
      map.addUnion()

    $('#undo').on 'click', (e) ->
      map.undoAction()

    $('#redo').on 'click', (e) ->
      map.redoAction()

    $('#readGeoJson').on 'click', (e) ->
      map.addShapeFromGeoJson(null, null)

    $("#searchResults").on "click", ".result", (e) ->
      $this = $(this)
      lonLat = $this.data("lonlat")
      map.panTo lonLat
      map.zoomTo 16
