#no-js-page{
  display: none;
}
#not-supported-browsers{
  display: none;
}
.hidden{
  display: none;
}
/* line 1, base.scss */
.nav-user-photo {
  height: 24px;
  width: 24px;
}

/* line 6, base.scss */
.page-loader {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* line 12, base.scss */
.base-info {
  margin: 0 12px;
}

/* line 15, base.scss */
.base-info-row {
  position: relative;
}

/* line 18, base.scss */
.base-info-name {
  position: absolute;
  width: 110px;
  text-align: right;
  padding: 6px 10px 6px 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: normal;
  color: #667E99;
  background-color: transparent;
  border-top: 1px dotted #D5E4F1;
}

/* line 33, base.scss */
.base-info-value {
  padding: 6px 4px 6px 6px;
  margin-left: 120px;
  border-top: 1px dotted #D5E4F1;
}
/* line 38, base.scss */
.base-info-value > span + span:before {
  /* for a list of values (such as location city & country) put a comma between them */
  display: inline;
  content: ",";
  margin-left: 1px;
  margin-right: 3px;
  color: #666;
  border-bottom: 1px solid #FFF;
}
/* line 46, base.scss */
.base-info-value > span + span.editable-container:before {
  display: none;
}

/* line 52, base.scss */
.base-info-row:first-child .profile-info-name {
  border-top: none;
}
/* line 55, base.scss */
.base-info-row:first-child .profile-info-value {
  border-top: none;
}

/* line 60, base.scss */
.base-info-striped {
  border: 1px solid #DCEBF7;
}
/* line 63, base.scss */
.base-info-striped .base-info-name {
  color: #336199;
  background-color: #EDF3F4;
  border-top: 1px solid #F7FBFF;
}
/* line 68, base.scss */
.base-info-striped .base-info-value {
  border-top: 1px dotted #DCEBF7;
  padding-left: 12px;
}

/* line 75, base.scss */
.base-info-name-150 .base-info-name {
  width: 150px;
}
/* line 78, base.scss */
.base-info-name-150 .base-info-value {
  margin-left: 160px;
}

/* wizard */
/* line 84, base.scss */
.dotted-steps {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  li {
    display: block;
    padding-top: 38px;
    text-align: center;
    position: relative;
    height: 140px;
    border: 10px solid white;
    @include transition-property(all);
    @include transition-duration(.15s);
    &:hover {
      cursor: pointer;
      background: #87B87F;
      color: white;
      @include transition-property(all);
      @include transition-duration(.15s);
      .step {
        @extend .icon;
        @extend .icon-check-circle;
      }
      .title {
        color: white;
        font-weight: 700;
      }
    }
    .step {
      font-size: 20px;
      position: relative;
      z-index: 2;
      text-align: center;
      @extend .icon;
      @extend .icon-circle-o;
    }
    &.selected {
      padding-top: 25px;
      background: #629b58;
      color: #fff;
      > .title {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
      }
      > .step {
        font-size: 36px;
        @extend .icon;
        @extend .icon-check-circle;
      }
    }
  }
}
/* line 125, base.scss */
.dotted-steps li.active .step {
  border-color: green;
  position: relative;
  top: 0;
}
/* line 132, base.scss */
.dotted-steps li.selected .step {
  cursor: default;
  color: #FFF;
}

.dotted-steps li.selected:hover .step {
  /*.transform(~"scale(1.1)");*/
  border-color: #00bd00;
}
/* line 163, base.scss */
.dotted-steps li .title {
  display: block;
  margin-top: 4px;
  max-width: 100%;
  color: black;
  font-size: 14px;
  z-index: 104;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}

/* line 186, base.scss */
.dotted-actions {
  text-align: right;
}

/* line 190, base.scss */
.dotted-steps {
  margin-right: 0;
}
/* line 192, base.scss */
.dotted-steps li {
  float: right;
}
/* line 194, base.scss */
.dotted-steps li:first-child:before {
  left: auto;
  right: 50%;
}

/* line 200, base.scss */
.dotted-actions {
  text-align: left;
}

/* line 204, base.scss */
.top-m25 {
  top: -25px;
}

/* line 207, base.scss */
.top-p25 {
  top: 25px;
}

/* line 210, base.scss */
.clear-b {
  clear: both;
}

.margin-left-20 {
  margin-left: 20px;
}

.gritter-item {
  font-family: "Ubuntu", sans-serif !important;
}