$btn-default:#ABBAC3;
$btn-default-hover:#8B9AA3;

$btn-primary:#428BCA;
$btn-primary-hover:#1B6AAA;

$btn-info:#6FB3E0;
$btn-info-hover:#4F99C6;

$btn-success:#87B87F;
$btn-success-hover:#629B58;

$btn-warning:#FFB752;
$btn-warning-hover:#E59729;

$btn-danger:#D15B47;
$btn-danger-hover:#B74635;

$btn-inverse:#555555;
$btn-inverse-hover:#303030;

$btn-pink:#D6487E;
$btn-pink-hover:#B73766;

$btn-purple:#9585BF;
$btn-purple-hover:#7461AA;

$btn-yellow:#FEE188;
$btn-yellow-hover:#F7D05B;
$btn-yellow-color:#996633;

$btn-light:#E7E7E7;
$btn-light-hover:#D9D9D9;
$btn-light-color:#888;

$btn-grey:#A0A0A0;
$btn-grey-hover:#888888;
