.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.active-wms {
  border-color: red !important;
}

#mapNotify{
  position: fixed;
  bottom:60px;
  left: 60px;
  z-index: 1000;
  display: block;
  min-width: 200px;
  min-height: 60px;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0px 3px 10px);
  background-color: white;
  background-color:rgba(white, .9);
  width: 42%;
  &.default {
    border: 4px solid $btn-success;
    .notify-close {
      color: $btn-success;
      &:hover { color: $btn-success-hover; }
    }
  }
  &.info {
    border: 4px solid $btn-primary;
    .notify-close {
      color: $btn-primary;
      &:hover { color: $btn-primary-hover; }
    }
  }
  &.error {
    border: 4px solid $btn-danger;
    .notify-close {
      color: $btn-danger;
      &:hover { color: $btn-danger-hover; }
    }
  }
  &.loading {
    border: 4px solid $btn-grey;
    .notify-close {
      color: $btn-grey;
      @extend .icon-spinner;
      @extend .icon-spin;
      &:hover { color: $btn-grey-hover; }
    }
  }
  .notify-close {
    @extend .icon;
    @extend .icon-times-circle;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: block;
    color: $btn-primary;
    &:hover {
      color: rgb(183, 70, 53);
    }
  }
  .notify-content {
    margin: 10px 35px 10px 20px;
    @include pie-clearfix;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 10px 0;
      @extend .bolder;
    }
    ul { margin: 0; padding: 0; }
    li {
      list-style: none outside;
    }
  }
}
.parcels-info {
}

.parcel-info-column {
  width: 47.5%;
  float: left;
  &:last-child {
    margin-left: 5% !important;
  }
  li {
    display: table;
    position: relative;
    width: 100%;
    > span { display: table-cell; }
    .tooltip.right {
      left: 210px !important;
    }
    .m-l-5 { margin-left: 5px; }
  }
}
.parcels-name {
  padding-right: 10px;
  width: 50%;
}

.parcels-value {
  @extend .blue;
  @extend .bolder;
}
.weather-report-link {
  margin-right: 5px !important;
}
#searchControlsGroup{
  &.active-wait-for{
    border-color: none;
    display: table !important;
    visibility: visible !important;
  }
}

$btn-classes: success, primary, default, info, pink, purple, warning, yellow;

.btn-overlay{
  position: absolute;
  z-index: 5;
  top: 0px;
}
//TODO: Precompile error FIX THIS !!!!!!!!!!!
// @each $class in $btn-classes {
//   .btn-#{$class}.active-wait-for {
//     @extend .btn-#{$class}:hover;
//   }
// }

.field-card-container {
  padding: 45px 0 0 0 !important;
  .btn-toolbar {
    padding: 5px;
  }
  #breadcrumbs {
    height: 45px;
    margin-bottom: 5px;
    .pull-right {
      margin-right: 8px;
    }
  }
}
.tools-row-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.field-card-intro{
  width: 100%;
  width: calc(100% - 43px);
  left: 43px;
  position: fixed;
  background: gray;
  background: rgba(black, .6);
  top: 45px;
  height: 100%;
  height: calc(100% - 45px);
  z-index: 1029;
  overflow-y: scroll;
// display: none;
}

%search-result-item {
  background: #fff;
  list-style: none outside;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  &:hover {
    background-color: #5BC0DE;
    color: #fff;
    cursor: pointer;
  }
}

.field-card-location-search-results {
  margin: 0; padding: 0;
  @include box-shadow(rgba(black, .3) 0 1px 1px 0);
  li {
    @extend %search-result-item;
  }
  i {
    @extend .icon; @extend .icon-fw; font-size: 1.2em;
    &.peak { @extend .icon-compass; }
    &.administrative { @extend .icon-flag; }
    &.city { @extend .icon-building-o; }
    &.village { @extend .icon-home; }
  }
}

.location-search-results {
  ul {
    margin: 10px 0 20px;
    padding: 0;
    position: relative;
    border: 6px solid rgba(white, .75);
    &:before {
      border-bottom: 8px solid rgba(white, .75);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      top: -14px;
      right: 120px;
      content: " ";
    }
  }
  li {
    background: #fff;
    list-style: none outside;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    &:hover {
      background-color: #5BC0DE;
      color: #fff;
      cursor: pointer;
    }
  }
  h3 {
    background: #fff;
    padding: 10px 20px;
    margin: 10px 0 20px;
    position: relative;
    border: 4px solid #D15B47;
    &:before {
      border-bottom: 8px solid #D15B47;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      top: -14px;
      right: 120px;
      content: " ";
    }
  }
}
.field-card-intro-video {
  border: 4px solid #fff;
  margin: 20px auto 40px;
  width: 548px;
  height: 308px;
  @include box-shadow(rgba(white, .4) 0 0 60px );
}
.field-card-intro-section {
  width: 548px;
  margin: 0 auto;
  margin-top: 20px;
}

.field-card-toolbox {
  @include pie-clearfix;
}

.field-card-toolbox-group {
  width: 45%;
  margin-right: 10%;
  position: relative;
  &:after {
    content: "lub";
    color: white;
    font-weight: 700;
    position: absolute;
    right: -40px;
    top: 12px;
    font-style: italic;
    font-size: 16px;
  }
}
.field-card-toolbox-input {
  width: 45%;
  .form-control {
    height: 48px;
  }
}
.intro-step-number {
  display: inline-block;
  @include border-radius(50%);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.18em;
  margin-right: 10px;
  border: 4px solid #fff;

}

.page-content.page-content-no-padding {
  padding: 0 !important;
}

.sidebar-fixed:not(.menu-min) ~ .main-content .field-card-intro {
  width: calc(100% - 190px);
  left: 190px;
}

.sidebar-fixed:not(.menu-min) ~ .main-content #mapNotify {
  left: 210px;
}

.sidebar-fixed:not(.menu-min) {
  ~ .main-content .field-card-map {
    width: calc(100% - 190px);
  }
}


.sidebar-fixed:not(.menu-min) {
  ~ .main-content .field-card-map.width-60 {
    width: calc(60% - 190px) !important;
  }
}

.sidebar-fixed.menu-min {
  ~ .main-content .field-card-map.width-60 {
    width: calc(60% - 43px) !important;
  }
}

.field-card-map {
  width: 100%;
  width: calc(100% - 43px);
  position: fixed;
  top: 85px;
  bottom: 0;
  z-index: 1;
}

.field-card-map-controls {
  z-index: 10;
}

.field-info-box {
  position: fixed;
  overflow-y: scroll;
  top: 85px;
  bottom: 0;
  background: white;
  right: 0;
  z-index: 999;
  border-left: 1px solid #C5D0DC;
  section {
    margin-bottom: 10px;
    position: relative;
  }
  #js-update-parcels-list-panel{
    .update_parcels_list{
      display: none;
    }
  }
  #js-update-parcels-list-panel.alert{
    .update_parcels_list{
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
      }
      .update-parcels-list-description {
        padding-right: 10px;
        text-align: right;
      }
    }
  }
  .update-areas-button-section {
    display: table;
    text-align: right;
    padding: 0 15px;

  }
  #js-area-update-panel{
    #btn_update_areas_panel, .update-areas-explanation{
      display: none;
    }
    #btn_not_update_areas_panel, .update-areas-explanation{
      display: none;
    }
  }
  #js-area-update-panel.alert{
    padding: 15px 0;
    #btn_update_areas_panel, .update-areas-explanation{
      display: table-cell;
      vertical-align: middle;
      .btn { margin-left: 2px; }
    }
    #btn_not_update_areas_panel, .update-areas-explanation{
      display: table-cell;
      vertical-align: middle;
      .btn { margin-left: 2px; }
    }
    .update-areas-explanation {
      padding-right: 15px;
    }
  }
  .lot-section {
    padding: 5px 0;
    &:first-child {
      padding: 0 0 5px 0;
    }
    &:nth-of-type(2n) {
      background: #f5f5f5
    }
  }
  .header {
    margin: 0 0 15px 0 !important;
    padding-bottom: 12px;
  }
  .tab-content {
    border: 0 none;
  }
}
.sum-total > td {
  background: #EFF3F8 !important;
}
.field-card-base{
  .base-controls{
    position: absolute;
    left: 54px;
    top: 10px;
    z-index: 99;
    .btn {
      position: relative;
      z-index: 2;
      margin-right: 5px !important;
      i { @extend .icon-fw; }
    }
  }
}

.on-map-controls {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 999;
  &.layers {
    left: 80%;
    top: 0;
  }
  .btn-group-vertical {
    display: block;
    margin-bottom: 10px;
  }
  .btn {
    position: relative;
    z-index: 2;
    // margin-bottom: 5px !important;
    i { @extend .icon-fw; }
    &:after {
      @include box-sizing(border-box);
      width: 0;
      overflow: hidden;
      position: absolute;
      top: -2px;
      left: 38px;
      content: attr(data-title);
      height: 30px;
      background-color: rgb(139, 154, 163);
      z-index: 0;
      font-size: 13px;
      line-height: 1.39;
      border: 2px solid transparent;
      border-left: 0 none;
      border-right: 0 none;
      @include transition-property(all);
      @include transition-duration(100ms);
    }
    &:hover {
      border-right: 2px solid transparent;
      z-index: 1000;
      &:after {
        padding: 3px 9px;
        width: 160px;
        border-color: rgb(171, 186, 195);
        background-color: rgb(139, 154, 163);
        border-right: 2px solid rgb(171, 186, 195);
        @include transition-property(all);
        @include transition-duration(100ms);
        @include transition-delay(350ms);
      }
    }
    &.btn-success:hover:after {
      border-color: $btn-success;
      border-right: 2px solid $btn-success;
      background-color: $btn-success-hover;
    }
    &.btn-danger:hover:after {
      border-color: $btn-danger;
      border-right: 2px solid $btn-danger;
      background-color: $btn-danger-hover;
    }
    &.btn-primary:hover:after {
      border-color: $btn-primary;
      border-right: 2px solid $btn-primary;
      background-color: $btn-primary-hover;
    }
    &.btn-warning:hover:after {
      border-color: $btn-warning;
      border-right: 2px solid $btn-warning;
      background-color: $btn-warning-hover;
    }
    &.btn-purple:hover:after {
      border-color: $btn-purple;
      border-right: 2px solid $btn-purple;
      background-color: $btn-purple-hover;
    }
    &.btn-info:hover:after {
      border-color: $btn-info;
      border-right: 2px solid $btn-info;
      background-color: $btn-info-hover;
    }
    &.btn-white:hover:after {
      border-color: #ccc;
      border-right: 2px solid #ccc;
      background: rgb(235, 235, 235);
    }
    &.btn-pink:hover:after {
      border-color: $btn-pink;
      border-right: 2px solid $btn-pink;
      background: $btn-pink-hover;
    }
    &.btn-grey:hover:after {
      border-color: $btn-grey;
      border-right: 2px solid $btn-grey;
      background: $btn-grey-hover;
    }
    &.btn-yellow:hover:after {
      border-color: $btn-yellow;
      border-right: 2px solid $btn-yellow;
      background: $btn-yellow-hover;
      color: $btn-yellow-color;
    }
    &.btn-light:hover:after {
      border-color: $btn-light;
      border-right: 2px solid $btn-light;
      background: $btn-light-hover;
      color: $btn-light-color;
    }
  }
}

//OPENLAYRERS
.olControlPanZoomBar {
  left: auto !important;
  right: 80px !important;
  top: 50px !important;
}

.olControlScaleLine {
  left: auto !important;
  right: 90px !important;
}

// http://gis.stackexchange.com/questions/28168/xyz-layer-in-open-layers-has-missing-tiles
.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

.sidebar-modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  background: rgba(white, .6);
}
.sidebar-modal {
  > .modal-dialog { width: 100%; }
}

#list {
  table#farms {
    position: relative;
    top: 34px;
  }
}

.upload-files-header {
  display: inline-block;
  margin: 0 30px 0 0 !important;
}
.btn-upload {
  padding: 5px 24px !important;
  margin-right: 2px;
}