/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "themes/font-awesome/variables";
@import "themes/font-awesome/mixins";
@import "themes/font-awesome/path";
@import "themes/font-awesome/core";
@import "themes/font-awesome/larger";
@import "themes/font-awesome/fixed-width";
@import "themes/font-awesome/list";
@import "themes/font-awesome/bordered-pulled";
@import "themes/font-awesome/spinning";
@import "themes/font-awesome/rotated-flipped";
@import "themes/font-awesome/stacked";
@import "themes/font-awesome/icons";

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */

.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

/* makes sure icons active on rollover in links */

a {
  [class^="icon-"], [class*=" icon-"] {
    display: inline;
  }
}

/* increased font size for icon-large */

[class^="icon-"].icon-fixed-width, [class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}

[class^="icon-"].icon-fixed-width.icon-large, [class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}

.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
  > li {
    position: relative;
  }
  .icon-li {
    position: absolute;
    left: -2.14286em;
    width: 2.142857142857143em;
    text-align: center;
    line-height: inherit;
  }
}

[class^="icon-"].hide, [class*=" icon-"].hide {
  display: none;
}

.icon-muted {
  color: #eeeeee;
}

.icon-light {
  color: #ffffff;
}

.icon-dark {
  color: #333333;
}

.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icon-2x {
  font-size: 2em;
  &.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.icon-3x {
  font-size: 3em;
  &.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.icon-4x {
  font-size: 4em;
  &.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

.icon-5x {
  font-size: 5em;
  &.icon-border {
    border-width: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: .3em;
}

[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */

.icon-white {
  background-image: none;
}

.nav-pills > .active > a > {
  [class^="icon-"], [class*=" icon-"] {
    background-image: none;
  }
}

.nav-list > .active > a > {
  [class^="icon-"], [class*=" icon-"] {
    background-image: none;
  }
}

.navbar-inverse .nav > .active > a > {
  [class^="icon-"], [class*=" icon-"] {
    background-image: none;
  }
}

.dropdown-menu > {
  li > a:hover > {
    [class^="icon-"], [class*=" icon-"] {
      background-image: none;
    }
  }
  .active > a > {
    [class^="icon-"], [class*=" icon-"] {
      background-image: none;
    }
  }
}

.dropdown-submenu:hover > a > {
  [class^="icon-"], [class*=" icon-"] {
    background-image: none;
  }
}

/* keeps Bootstrap styles with and without icons the same */

.btn [class^="icon-"].icon-large, .nav [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class*=" icon-"].icon-large {
  line-height: .9em;
}

.btn [class^="icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

.nav-tabs [class^="icon-"], .nav-pills [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class*=" icon-"], .nav-tabs [class^="icon-"].icon-large, .nav-pills [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

.btn {
  [class^="icon-"].pull-left.icon-2x, [class*=" icon-"].pull-left.icon-2x, [class^="icon-"].pull-right.icon-2x, [class*=" icon-"].pull-right.icon-2x {
    margin-top: .18em;
  }
  [class^="icon-"].icon-spin.icon-large, [class*=" icon-"].icon-spin.icon-large {
    line-height: .8em;
  }
  &.btn-small {
    [class^="icon-"].pull-left.icon-2x, [class*=" icon-"].pull-left.icon-2x, [class^="icon-"].pull-right.icon-2x, [class*=" icon-"].pull-right.icon-2x {
      margin-top: .25em;
    }
  }
  &.btn-large {
    [class^="icon-"], [class*=" icon-"] {
      margin-top: 0;
    }
    [class^="icon-"].pull-left.icon-2x, [class*=" icon-"].pull-left.icon-2x, [class^="icon-"].pull-right.icon-2x, [class*=" icon-"].pull-right.icon-2x {
      margin-top: .05em;
    }
    [class^="icon-"].pull-left.icon-2x, [class*=" icon-"].pull-left.icon-2x {
      margin-right: .2em;
    }
    [class^="icon-"].pull-right.icon-2x, [class*=" icon-"].pull-right.icon-2x {
      margin-left: .2em;
    }
  }
}

/* Fixes alignment in nav lists */

.nav-list {
  [class^="icon-"], [class*=" icon-"] {
    line-height: inherit;
  }
}