/* jquery gritter */
.gritter-item-wrapper {
  background-image: none !important;
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
  background: #ffffff !important;

  &.gritter-info, &.gritter-error,
  &.gritter-success, &.gritter-warning {
    background: #fff;
  }
  &.gritter-info {
    border: 4px solid #428BCA;
    .gritter-close {
      color: #428BCA;
      &:hover {
        color: darken(#428BCA, 20);
      }
    }
  }
  &.gritter-error {
    border: 4px solid #E17B67;
    .gritter-close {
      color: #E17B67;
      &:hover {
        color: darken(#E17B67, 20);
      }
    }
  }
  &.gritter-success {
    border: 4px solid #87B87F;
    .gritter-close {
      color: #87B87F;
      &:hover {
        color: darken(#87B87F, 20);
      }
    }
  }
  &.gritter-warning {
    border: 4px solid #FFB752;
    .gritter-close {
      color: #FFB752;
      &:hover {
        color: darken(#FFB752, 20);
      }
    }
  }
  &.gritter-light {
    background: rgba(245, 245, 245, 0.95);
    border: 1px solid #BBB;
  }
  &.gritter-light {
    &.gritter-error {
      .gritter-item {
        color: #894A38;
      }
    }
  }
  &.gritter-light {
    &.gritter-success {
      background: rgba(239, 250, 227, 0.95);
    }
  }
  &.gritter-light {
    &.gritter-success .gritter-item {
      color: #416131;
    }
  }
  &.gritter-light {
    &.gritter-warning {
      background: rgba(252, 248, 227, 0.95);
    }
  }
  &.gritter-light {
    &.gritter-warning .gritter-item {
      color: #946446;
    }
  }
}
.gritter-item {
  color: #272727;
}

.gritter-item p {
  line-height: 1.8;
  font-size: 12px;
}

.gritter-top,
.gritter-bottom,
.gritter-item {
  background-image: none;
}
.gritter-close {
  left: auto;
  right: 8px;
  background-image: none;
  width: 24px;
  height: 24px;
  line-height: 1;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 16px;
  display: inline-block !important;
  font-size: 24px;
  @extend .icon;
  @extend .icon-times-circle;
}

.gritter-title {
  text-shadow: none;
}
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: none;
  color: #444;
}
.gritter-light .gritter-title {
  text-shadow: none;
}
.gritter-light .gritter-close:hover {
  color: #8A3104 !important;
}
.gritter-center {
  position: fixed;
  left: 33%;
  right: 33%;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .gritter-center {
    left: 16%;
    right: 16%;
    top: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .gritter-center {
    left: 30px;
    right: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .gritter-center {
    left: 10px;
    right: 10px;
  }
}