.no-margin-top {
  margin-top: 0 !important;
}

.header-with-button {
  padding-bottom: 15px;
}

.v-middle {
  td {
    vertical-align: middle !important;
  }
}
table.table-with-form {
  td {
    padding: 4px 8px !important;
  }
}
table.editable-table {
  td {
    padding: 4px 8px !important;
    height: 38px !important;
  }
}

.active-table-row:hover {
  cursor: pointer !important;
}

.top-bar-bordered {
  border-left: 1px solid #dddddd !important;
}

.full-width {
  width: 100%;
}

.btn:active {
  top: 0 !important;
  left: 0 !important;
}

.logo-img {
  display: inline-block;
  width: 36px;
  height: 36px;
}