.login-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: image-url("bg_alt.jpg");
  background-position: center center;
  background-size: cover;
}
.bg-green {
  background-color: #68BC31 !important;
  border-top: 2px solid lighten(#68BC31, 10) !important;
}

.login-footer-link {
  color: #FFEE99 !important;
}

.mt-10 {
  margin-top: 5px;
}

.mt-50 {
  margin-top: 50px;
}

form span.block {
  position: relative;
  margin-bottom: 20px;
  @include breakpoint(620px) {
    margin-bottom: 10px;
  }
  .error {
    padding: 0 10px;
    background: #D15B47;
    position: absolute;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    z-index: 10;
    @include breakpoint(620px) {
      bottom: 0;
      top: 0;
      left: 200px;
    }
    @include breakpoint(720px) {
      left: 250px;
    }
    &:after {
      @include box-sizing(border-box);
      content: " ";
      width: 8px;
      height: 8px;
      position: absolute;
      top: -8px;
      left: 60%;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #D15B47;
      @include breakpoint(620px) {
        content: " ";
        left: -8px;
        margin-top: -8px;
        top: 50%;
        border-left: 0 none;
        border-right: 8px solid #D15B47;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
  }
  input:focus ~ .error {
    display: none;
  }
}
.widget-box {
  overflow: visible !important;
  @include pie-clearfix;
}

.new-user-button {
  position: absolute;
  bottom: -70px;
  left: 0;
}