.sidebar:not(.menu-min) ~ .main-content .field-card-base .base-controls {
  left: 190px;
}

.field-card-base{
  .base-controls{
    position: absolute;
    left: 43px;
    top: 0;
    z-index: 99;
    .btn {
      position: relative;
      z-index: 2;
      margin-right: 5px !important;
      i { @extend .icon-fw; }
    }
  }
}

.sidebar-controls {
  display: inline-block;
  position: absolute;
  right: 40%;
  z-index: 99;
  &.sidebar-controls-folded {
    right: 0;
  }
  .map-layer-btn {
    .map-layer-btn-label { display: none; }
    .map-layer-image {
      width: 150px;
      right: 0;
      &:after {
        content: attr(data-name);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $btn-inverse;
        text-align: center;
        padding: 4px 0;
      }
      &:before {
        content: " ";
        border-bottom: 6px solid $btn-inverse;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        right: 10px;
        top: -10px;
      }
    }
  }
}

.sidebar-controls-folded {
  .map-layer-btn {
    .map-layer-btn-label { display: inline-block; }
    .map-layer-image {
      width: 100%;
      left: 0;
      &:before {
        right: 50%;
        margin-right: -3px;
      }
      &:after {
        content: none;
      }
    }
  }
}

.on-map-controls-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  padding: 5px;
  @include pie-clearfix;
}
.map-search-input {
  width: 100%;
  .input-group {
    width: 250px;
    float: left;
  }
}
.map-layers-controls {
  float: left;
}
.map-layer-btn {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  .btn {
    position: relative;
    z-index: 10;
    outline: 0;
    @include box-shadow(white 0 20px 0 0);
    .map-layer-image {
      position: absolute;
      display: none;
      top: -100px;
      @include opacity(0);
      height: 100px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @include box-shadow($btn-inverse 0 0 0 4px);
      @include transition-duration(100ms);
      @include transition-property(all);
      &.map-layer-orto {
        background-image: image-url('orto.png');
      }
      &.map-layer-osm {
        background-image: image-url('osm.png');
      }
      &.map-layer-parcels {
        background-image: image-url('parcels.png');
      }
    }
    &:hover .map-layer-image {
      z-index: -1;
      content: " ";
      display: inline-block;
      top: 40px;
      @include opacity(1);
      @include transition-duration(250ms);
      @include transition-property(all);
      -moz-animation: fade-map-image 200ms ease-in 1;
    }
  }
}
@keyframes fade-map-image {
  0%   {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}