.invite-friends-icon {
  font-size: 60px;
  height: 0;
  background-image: image-url('dandelion_blue.png');
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 50%;
  margin-bottom: 12px;
}
.validate-table .help-inline {
  background: none repeat scroll 0 0 #D15B47;
  color: #FFFFFF;
  font-weight: 700;
  height: 29px;
  line-height: 29px;
  margin-bottom: 0;
  padding: 0 10px;
  position: relative;
  width: 220px;
  z-index: 10;
  right: 75px;
  top: 4px;
  &:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 0 none;
    border-right: 6px solid #D15B47;
    content: " ";
    position: absolute;
    left: -6px;
    margin-top: -6px;
    top: 50%;
  }
}
