.setup-wizzard {
  width: 100%;
  margin: 50px auto 0;
  @include breakpoint(620px) {
    width: 80%;
  }
  form .help-inline {
    padding: 0 10px;
    background: #D15B47;
    position: absolute;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
    bottom: -27px;
    right: 0;
    height: 29px;
    line-height: 29px;
    z-index: 10;
    width: 230px;
    @include breakpoint(620px) {
      bottom: 0;
      top: 0;
    }
    @include breakpoint(720px) {
      left: 250px;
    }
    &:after {
      @include box-sizing(border-box);
      content: " ";
      width: 6px;
      height: 6px;
      position: absolute;
      top: -6px;
      left: 60%;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #D15B47;
      @include breakpoint(620px) {
        content: " ";
        left: -6px;
        margin-top: -6px;
        top: 50%;
        border-left: 0 none;
        border-right: 6px solid #D15B47;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }
  }
}

.setup-wizzard-info-box {
  margin-bottom: 25px;
}

