<%= form_tag('/uploads/shp', :method => :post, :multipart => true) do %>
  <p><label for="upload_file">Select File</label>
  <%= file_field 'upload', 'file' %></p>
  <%= submit_tag "Wgraj" %>
<% end %>