= render "layouts/config_js"
= yield :required_scripts

= javascript_include_tag 'application'
= javascript_include_tag 'for_map'
= javascript_include_tag "//maps.google.com/maps/api/js?sensor=false&.js"
= javascript_include_tag 'core'
= javascript_include_tag 'themes'
= javascript_include_tag 'spa'
= javascript_include_tag 'themes-base'

= yield :scripts