﻿%ul#topNavbar.nav.ace-nav.pull-right
  %li.light-green.top-bar-bordered
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      %img.nav-user-photo{alt: "Zdjęcie użytkownika", src: image_path('themes/avatars/avatar_default.jpg')}
        %i.icon-caret-down
      %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
        %li
          %a{href: "#profile"}
            %i.icon-user
            Profil
        %li.divider
        %li
          %a{href: logout_url}
            %i.icon-sign-out
            Wyloguj
%ul#topNavbarInfo.nav.ace-nav.pull-right

%ul#topNavbarNavi.nav.ace-nav.pull-right