!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Title - EFarm
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin-ext", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", :media => "all"

    /[if IE]
      = stylesheet_link_tag    "ace_theme_ie", :media => "all"

    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body.navbar-fixed.breadcrumbs-fixed
    #navbar.navbar.navbar-default.navbar-fixed-top.sidebar-fixed
      :javascript
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      #navbar-container.navbar-container
        .navbar-header.pull-left
          %a.navbar-brand{href: "#"}
            %small
              = image_tag('efarm_logo.png', class: 'logo-img')
              efarm
        = render 'layouts/topnav'
    #main-container.main-container
      .main-container-inner
        %a#menu-toggler.menu-toggler{href: "#"}
          %span.menu-text
        = render 'layouts/sidebar'
        .main-content
          = render 'layouts/breadcrumbs'
          .page-content
            .page-header.position-relative
              %h1
                efarm
                %small
                  %i.icon-angle-double-right
                  efarm
            .row
              = yield
  = render "layouts/not_supported_browser_info"
  = render "layouts/no_js_info"
  %footer
  = render 'layouts/js_footer'