﻿!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Title - EFarm
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body.skin-efarm
    = yield
  = render "layouts/not_supported_browser_info"
  = render "layouts/no_js_info"
  %footer
  = render 'layouts/js_footer'