﻿!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Title - EFarm
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin-ext", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", :media => "all"
    /[if IE]
      = stylesheet_link_tag    "ace_theme_ie", :media => "all"
    = csrf_meta_tags
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body.login-layout.skin-efarm
    .login-screen
    = yield
  = render "layouts/not_supported_browser_info"
  = render "layouts/no_js_info"
  %footer
  = render 'layouts/js_footer'