#forgot-box.forgot-box.widget-box.no-border.mt-50
  .toolbar.clearfix.bg-green.center
    %h1.mt-10
      = image_tag('efarm_logo.png', class: 'logo-img')
      %span.white efarm portal
  .widget-body
    .widget-main
      %h4.header.red.lighter.bigger
        %i.icon-key
        Odzyskiwanie hasła
      .space-6
      %p
        Podaj swój adres email. Otrzymasz maila z linkiem do strony umożliwiającej zmianę hasła.
        %form#forgotForm{action: "#{forgot_password_url}", method: 'POST'}
          %fieldset
            .control-group
              %label.block.clearfix.js-control-group
                %span.block.input-icon.input-icon-right
                  %input.form-control{name: "forgotPassword[email]", placeholder: "Email", type: "email"}/
                  %i.icon-envelope
            .clearfix
              %button#forgotSubmitBtn.btn.btn-primary.btn-block.bolder
                %i.icon-check
                Wyślij

  .toolbar.align-right.bg-green
    %a.back-to-login-link{href: "#"}
      Powrót do logowania
      %i.icon-arrow-right