#signup-box.login-box.widget-box.no-border.mt-50
  .toolbar.clearfix.bg-green.center
    %h1.mt-10
      = image_tag('efarm_logo.png', class: 'logo-img')
      %span.white efarm portal
  .widget-body
    .widget-main
      %h4.header.blue.bigger
        %i.icon-user.blue
        Tworzenie konta
      .space-6
      %p Wprowadź swoje dane aby rozpocząć:
      %form#singupForm{action: 'register', method: 'POST'}
        %fieldset
          %label.block.clearfix.js-control-group
            %span.block.input-icon.input-icon-right
              %input.form-control{name: "registration[email]", placeholder: "Email", type: "email"}
              %i.icon-envelope
          %label.block.clearfix.js-control-group
            %span.block.input-icon.input-icon-right
              %input.form-control#registrationPassword{name: "registration[password]", placeholder: "Hasło", type: "password"}
              %i.icon-lock
          %label.block.clearfix.js-control-group
            %span.block.input-icon.input-icon-right
              %input.form-control{name: "registration[password_confirmation]", placeholder: "Powtórz hasło", type: "password"}
              %i.icon-retweet
          %label.block.clearfix.js-control-group
            %input.ace{ name: "registration[accept_terms]", type: "checkbox", checked: "true" }
            %span.lbl
              Akceptuję
              %a{href: "#"} Regulamin Użytkowania

          .space-12
          .clearfix
            %button.width-40.pull-left.btn.btn-small{type: "reset"}
              %i.icon-refresh
              Wyczyść
            %button#singupSubmitBtn.width-50.pull-right.btn.btn-small.btn-primary
              %i.icon-check
              Rejestruj
  .toolbar.clearfix.bg-green
    %div
      %a.back-to-login-link.login-footer-link.bolder{href: "#"}
        %i.icon-arrow-left
        Powrót do logowania
