.col-sm-10.col-sm-offset-1
  .login-container
    .position-relative
      #login-box.login-box.visible.widget-box.no-border.mt-50
        .toolbar.clearfix.bg-green.center
          %h1.mt-10
            = image_tag('efarm_logo.png', class: 'logo-img')
            %span.white efarm portal
          / %h4.white synopsisproject.pl
        .widget-body
          .widget-main
            %h4.header.blue.lighter.bigger
              %i.icon-coffee.blue
              Proszę wprowadzić swoje dane
            .space-6
            %form#loginForm{action: "#{login_url}", method: 'POST'}
              %input{hidden: "returnUrl", value: '#'}
              %fieldset
                %label.block.clearfix.js-control-group
                  %span.block.input-icon.input-icon-right
                    %input.form-control{name: "email", placeholder: "Email", type: "text", value: "", autofocus: "true"}
                    %i.icon-envelope
                %label.block.clearfix.js-control-group
                  %span.block.input-icon.input-icon-right
                    %input.form-control{name: "password", placeholder: "Hasło", type: "password"}
                    %i.icon-lock

                .clearfix
                  %button#loginSubmitBtn.btn.btn-primary.btn-block.bolder
                    %i.icon-key
                    Zaloguj
                .space-4
            .social-or-login.center
              %span.bigger-110 Lub zaloguj się przez
            .social-login.center
              %a.btn.btn-primary
                %i.icon-facebook
              %a.btn.btn-info
                %i.icon-twitter
              %a.btn.btn-danger
                %i.icon-google-plus

        .toolbar.clearfix.bg-green.center
          %div
            %a.forgot-password-link.login-footer-link.bolder{href: "#"}
              %i.icon-arrow-left
              Nie pamiętam hasła


        %a.btn.btn-block.btn-primary.bolder.new-user-button.user-signup-link{ href: "#" }
          Nie mam konta, chcę założyć nowe
          %i.icon-arrow-right
      = render "accounts/forgot_password"
      = render "accounts/register"


- content_for :scripts do
  = javascript_include_tag 'page_account'
  - if flash[:alert]
    :coffeescript

      window.App.Message =
        kind: "error"
        text: "#{flash[:alert]}"

  - if flash[:notice]
    :coffeescript

      window.App.Message =
        kind: "info"
        text: "#{flash[:notice]}"

  :coffeescript

    window.App.Urls.Accounts =
      forgottenPassword: "/accounts/forgotten"
      register: "#{register_url}"

    accountController = new window.App.Controllers.Account();
