.col-sm-10.col-sm-offset-1
  .login-container
    .position-relative
      #login-box.login-box.visible.widget-box.no-border.mt-50
        .toolbar.clearfix.bg-green.center
          %h1.mt-10
            = image_tag('efarm_logo.png', class: 'logo-img')
            %span.white efarm portal
        .widget-body
          .widget-main
            %h4.header.blue.bigger
              %i.icon-lock.blue
              Formularz zmiany hasła
              .space-6
              %form#resetPasswordForm{action: "#{reset_password_finish_url(current_user.reset_password_token)}", method: 'POST'}
                %fieldset
                %label.block.clearfix.js-control-group
                  %span.block.input-icon.input-icon-right
                    %input#password.form-control{name: "resetPassword[password]", placeholder: "Nowe hasło", type: "password", value: ""}
                      %i.icon-lock
                  %label.block.clearfix.js-control-group
                    %span.block.input-icon.input-icon-right
                      %input.form-control{name: "resetPassword[password_confirmation]", placeholder: "Powtórz hasło", type: "password", value: ""}
                      %i.icon-retweet
                  .clearfix
                    %button#resetPasswordSubmitBtn.btn.btn-danger.btn-block.bolder
                      %i.icon-refresh
                      Zresetuj
- content_for :scripts do
  = javascript_include_tag 'page_account'
  - if @message
    :coffeescript
      window.App.Message =
        kind: "#{@message.status}"
        text: "#{@message.text}"

  :coffeescript
    accountController = new window.App.Controllers.Account();