/* skin#1 */
/* line 4, ace-skins.scss */
.skin-1 .navbar .navbar-inner {
  background: #2C6AA0;
}
/* line 7, ace-skins.scss */
.skin-1 .sidebar {
  background-color: #222A2D;
  border-right: none;
}
/* line 10, ace-skins.scss */
.skin-1 .sidebar:before {
  background-color: #222A2D;
  border-right: none;
}
/* line 15, ace-skins.scss */
.skin-1 .nav-list > li {
  border-color: #3F4E54;
  border-top-width: 0;
}
/* line 18, ace-skins.scss */
.skin-1 .nav-list > li > a {
  background-color: #222A2D;
  color: #B1BAC1;
}
/* line 23, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.open > a {
  background-color: #222A2D;
  color: #B1BAC1;
}
/* line 29, ace-skins.scss */
.skin-1 .nav-list > li:hover > a {
  background-color: #414B51;
  color: #E1EAF1;
}
/* line 33, ace-skins.scss */
.skin-1 .nav-list > li > a > .arrow {
  color: #B1BAC1;
}
/* line 36, ace-skins.scss */
.skin-1 .nav-list > li.open > a > .arrow {
  color: #85C0EC;
}
/* line 39, ace-skins.scss */
.skin-1 .nav-list > li .submenu > li > a {
  border-top-color: #AFBDC9;
}
/* line 42, ace-skins.scss */
.skin-1 .nav-list > li.active .submenu > li > a {
  border-top-color: #70818E;
}
/* line 46, ace-skins.scss */
.skin-1 .nav-list li.active > a:after {
  border-right-color: #FFF;
  border-width: 16px 10px;
  top: 2px;
}
/* line 52, ace-skins.scss */
.skin-1 .nav-list > li.active.open > ul.submenu > li.active > a:after {
  top: 1px;
}
/* line 55, ace-skins.scss */
.skin-1 .nav-list > li.active:after {
  display: none;
}
/* line 61, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active > a:after {
  border-width: 10px 6px;
  top: 8px;
}
/* line 65, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active:hover > a:after {
  border-right-color: #242A2B;
}
/* line 70, ace-skins.scss */
.skin-1 .nav-list > li.open > a {
  color: #85C0EC;
  background-color: #222A2D;
}
/* line 73, ace-skins.scss */
.skin-1 .nav-list > li.open > a:hover {
  color: #85C0EC;
  background-color: #222A2D;
}
/* line 78, ace-skins.scss */
.skin-1 .nav-list > li.active > a {
  background-color: #141A1B;
  color: #55A0DC;
}
/* line 81, ace-skins.scss */
.skin-1 .nav-list > li.active > a:hover {
  background-color: #141A1B;
  color: #55A0DC;
}
/* line 87, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active > a {
  background-color: #141A1B;
  color: #55A0DC;
}
/* line 90, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active > a:hover {
  background-color: #141A1B;
  color: #55A0DC;
}
/* line 96, ace-skins.scss */
.skin-1 .nav-list > li > ul.submenu {
  background-color: #3A4344;
  border-top-color: #5A6364;
}
/* line 100, ace-skins.scss */
.skin-1 .nav-list > li.active > ul.submenu {
  background-color: #141A1B;
  border-top-color: #2F3E44;
}
/* line 105, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > a {
  color: #D1DAE1;
  border-bottom-color: #5A6364;
}
/* line 109, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li:first-child > a {
  border-top-color: transparent;
}
/* line 112, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > a:hover {
  color: #8AB4DE;
}
/* line 115, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li.active > a {
  color: #55A0DC;
  border-bottom-color: #2F3E44;
}
/* line 119, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > a > [class*="icon-"]:first-child {
  display: none;
}
/* line 125, ace-skins.scss */
.skin-1 .menu-min .nav-list > li:hover > a {
  color: #E1EAF1;
}
/* line 128, ace-skins.scss */
.skin-1 .menu-min .nav-list > li > a > .menu-text {
  background-color: #414B51;
}
/* line 132, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active > a > .menu-text {
  background-color: #242A2B;
}
/* line 135, ace-skins.scss */
.skin-1 .menu-min .nav-list > li.active:hover > a, .skin-1 .menu-min .nav-list > li.active > a > .menu-text {
  color: #55A0DC;
}
/* line 139, ace-skins.scss */
.skin-1 .menu-min .nav-list > li > a.active, .skin-1 .menu-min .nav-list > li.open.active > a {
  background-color: #141A1B;
}
/* line 143, ace-skins.scss */
.skin-1 .menu-min .nav-list > li > a > .menu-text, .skin-1 .menu-min .nav-list > li > ul.submenu {
  border-color: #3F4E54;
  margin-top: 1px;
  border-left-color: #242A2B;
}
/* line 152, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li:before, .skin-1 .nav-list > li > .submenu:before {
  border-color: #929BA3;
}
/* line 157, ace-skins.scss */
.skin-1 .nav-list > li.active > .submenu > li:before, .skin-1 .nav-list > li.active > .submenu:before {
  border-color: #3F4E54;
}
/* line 162, ace-skins.scss */
.skin-1 .menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
  border-bottom-color: #5A606A;
}
/* line 165, ace-skins.scss */
.skin-1 .sidebar-collapse {
  background-color: #141A1B;
  border-color: #3F4E54;
  border-top-width: 1px;
}
/* line 169, ace-skins.scss */
.skin-1 .sidebar-collapse:before {
  border-color: #3F4E54;
}
/* line 172, ace-skins.scss */
.skin-1 .sidebar-collapse > [class*="icon-"] {
  background-color: #222A2D;
}
/* line 176, ace-skins.scss */
.skin-1 .sidebar-shortcuts, .skin-1 .sidebar-shortcuts-mini, .skin-1 .sidebar > .nav-search {
  background-color: #141A1B;
  border-color: #3F4E54;
}
/* line 180, ace-skins.scss */
.skin-1 .menu-min .sidebar-shortcuts-large {
  background-color: #141A1B;
  box-shadow: none;
  border: none;
  top: 0;
}
/* line 186, ace-skins.scss */
.skin-1 .breadcrumbs {
  border: none;
  background-color: #F0F0F0;
}
/* line 191, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > .submenu a {
  border-top-color: #7B858C;
}
/* line 194, ace-skins.scss */
.skin-1 .nav-list > li.active > .submenu > li > .submenu a {
  border-top-color: #545B60;
}
/* line 198, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li a {
  color: #D1DAE1;
  font-size: 13px;
}
/* line 201, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li a > [class*="icon-"]:first-child {
  color: inherit;
}
/* line 204, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li a:hover {
  color: #8AB4DE;
  text-decoration: none;
}
/* line 207, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li a:hover > [class*="icon-"]:first-child {
  color: #55A0DC;
}
/* line 213, ace-skins.scss */
.skin-1 .nav-list > li .submenu li.open > a {
  color: #85C0EC;
}
/* line 216, ace-skins.scss */
.skin-1 .nav-list > li .submenu li.open > a > [class*="icon-"]:first-child {
  color: inherit;
}
/* line 220, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li.open > a {
  color: #85C0EC;
}
/* line 225, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu > li.open > a > [class*="icon-"]:first-child {
  color: inherit;
}
/* line 228, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu li.active > a {
  color: #61A8DD;
}
/* line 230, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu li.active > a > [class*="icon-"]:first-child {
  color: inherit;
}
/* line 233, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > .submenu li.active > a:hover {
  color: #85C0EC;
}
/* line 238, ace-skins.scss */
.skin-1 .nav-list > li .submenu li > a > .arrow {
  color: #BBB;
}
/* line 244, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li.open > a > .arrow {
  color: inherit;
}
/* line 248, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > a:hover > .arrow {
  color: inherit;
}
/* line 252, ace-skins.scss */
.skin-1 .nav-list > li > .submenu > li > .submenu > li.open > a > .arrow, .skin-1 .nav-list > li > .submenu > li > .submenu > li > a:hover > .arrow {
  color: inherit;
}

@media only screen and (max-width: 979px) {
  /* line 263, ace-skins.scss */
  .skin-1 .sidebar {
    border: none;
    box-shadow: none;
  }
  /* line 267, ace-skins.scss */
  .skin-1 .nav-list li.active > a:after {
    display: none;
  }
  /* line 271, ace-skins.scss */
  .skin-1 .menu-min .nav-list > li.active.open > a:after {
    display: none;
  }
  /* line 274, ace-skins.scss */
  .skin-1 .menu-min .nav-list > li.active:hover > a:after {
    display: block;
  }
}
/* 3rd & 4th level menu */
/* skin#2 */
/* line 286, ace-skins.scss */
.skin-2 .navbar .navbar-inner {
  background: #C6487E;
}
/* line 289, ace-skins.scss */
.skin-2 .sidebar {
  background-color: #505050;
  border-right: none;
}
/* line 292, ace-skins.scss */
.skin-2 .sidebar:before {
  background-color: #505050;
  border-right: none;
}
/* line 297, ace-skins.scss */
.skin-2 .nav-list > li {
  border-color: #444;
  border-top-width: 0;
}
/* line 300, ace-skins.scss */
.skin-2 .nav-list > li:last-child {
  border-bottom-width: 0;
}
/* line 303, ace-skins.scss */
.skin-2 .nav-list > li > a {
  background-color: #393939;
}
/* line 307, ace-skins.scss */
.skin-2 .menu-min .nav-list > li.open > a {
  background-color: #393939;
}
/* line 312, ace-skins.scss */
.skin-2 .nav-list > li.active > a {
  color: #FFF;
}
/* line 315, ace-skins.scss */
.skin-2 .nav-list > li > a:hover:before {
  display: none;
}
/* line 319, ace-skins.scss */
.skin-2 .nav-list li.active > a:after {
  border-right-color: #FFF;
}
/* line 323, ace-skins.scss */
.skin-2 .nav-list > li.active > a:after, .skin-2 .nav-list > li.active > .submenu > li.active > a:after {
  top: 2px;
  right: 0;
  border-width: 16px 10px;
}
/* line 331, ace-skins.scss */
.skin-2 .menu-min .nav-list > li.active > a:after {
  border-width: 10px 6px;
  top: 8px;
}
/* line 335, ace-skins.scss */
.skin-2 .menu-min .nav-list > li.active:hover > a:after {
  border-right-color: #292929;
}
/* line 341, ace-skins.scss */
.skin-2 .nav-list > li.active:after {
  display: none;
}
/* line 344, ace-skins.scss */
.skin-2 .nav-list > li.active.open > .submenu > li.active > a:after {
  border-right-color: #FFF;
  right: 0;
}
/* line 348, ace-skins.scss */
.skin-2 .nav-list > li.active > .submenu {
  background-color: #222;
}
/* line 351, ace-skins.scss */
.skin-2 .nav-list > li.active > a:hover > .menu-text {
  color: #FFF;
}
/* line 355, ace-skins.scss */
.skin-2 .nav-list > li > .submenu {
  background-color: #303030;
  border-top-color: #666;
}
/* line 361, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li:first-child > a {
  border-top: none;
}
/* line 364, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > a {
  color: #CCC;
  border-bottom-color: #555;
}
/* line 367, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > a > [class*="icon-"]:first-child {
  display: none;
}
/* line 373, ace-skins.scss */
.skin-2 .nav-list > li > a > .menu-text {
  color: #DDD;
}
/* line 376, ace-skins.scss */
.skin-2 .nav-list > li > a:hover > .menu-text {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
/* line 383, ace-skins.scss */
.skin-2 .nav-list > li > a > .arrow {
  color: #AAA;
}
/* line 386, ace-skins.scss */
.skin-2 .nav-list > li > a:hover > .arrow {
  color: #FFF;
}
/* line 393, ace-skins.scss */
.skin-2 .menu-min .nav-list > li > a > .menu-text {
  color: #FFF;
  font-weight: bold;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #292929;
  border: none;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2px;
}
/* line 404, ace-skins.scss */
.skin-2 .menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
  margin-top: 0;
  background-color: #292929;
}
/* line 409, ace-skins.scss */
.skin-2 .menu-min .nav-list > li > ul.submenu {
  box-shadow: none;
  border: none;
  background-color: #303030;
  margin-left: 1px;
  margin-top: 1px;
  border-left: 1px solid #FFF;
}
/* line 420, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu > li > a:hover {
  color: #FFF;
}
/* line 423, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu > li:before, .skin-2 .nav-list > li > ul.submenu > li:after {
  /* hide tree like menu */
  display: none;
}
/* line 427, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu > li > a {
  padding-left: 28px;
}
/* line 431, ace-skins.scss */
.skin-2 .nav-list > li > a {
  color: #CCC;
}
/* line 435, ace-skins.scss */
.skin-2 .menu-min .nav-list > li > a > .menu-text {
  color: #CCC;
}
/* line 438, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) > a, .skin-2 .menu-min .nav-list > li:nth-child(1) > a > .menu-text {
  color: #00BE67;
}
/* line 441, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) > a, .skin-2 .menu-min .nav-list > li:nth-child(2) > a > .menu-text {
  color: #5ED02B;
}
/* line 444, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) > a, .skin-2 .menu-min .nav-list > li:nth-child(3) > a > .menu-text {
  color: #A7D700;
}
/* line 447, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) > a, .skin-2 .menu-min .nav-list > li:nth-child(4) > a > .menu-text {
  color: #CEE100;
}
/* line 450, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) > a, .skin-2 .menu-min .nav-list > li:nth-child(5) > a > .menu-text {
  color: #F8C600;
}
/* line 453, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) > a, .skin-2 .menu-min .nav-list > li:nth-child(6) > a > .menu-text {
  color: #FFAB00;
}
/* line 456, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) > a, .skin-2 .menu-min .nav-list > li:nth-child(7) > a > .menu-text {
  color: #FF6E00;
}
/* line 459, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) > a, .skin-2 .menu-min .nav-list > li:nth-child(8) > a > .menu-text {
  color: #F21C30;
}
/* line 462, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) > a, .skin-2 .menu-min .nav-list > li:nth-child(9) > a > .menu-text {
  color: #EE218B;
}
/* line 465, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) > a, .skin-2 .menu-min .nav-list > li:nth-child(10) > a > .menu-text {
  color: #C55EE7;
}
/* line 468, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) > a, .skin-2 .menu-min .nav-list > li:nth-child(11) > a > .menu-text {
  color: #218BEE;
}
/* line 471, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) > a {
  color: #2ECEE7;
}
/* line 475, ace-skins.scss */
.skin-2 .menu-min .nav-list > li:nth-child(12) > a > .menu-text {
  color: #2ECEE7;
}
/* line 478, ace-skins.scss */
.skin-2 .menu-min .nav-list > li.active > a > [class*="icon-"] {
  color: #FFF;
}
/* line 483, ace-skins.scss */
.skin-2 .nav-list > li:not(.active):hover > a > [class*="icon-"] {
  color: #FFF;
}
/* line 487, ace-skins.scss */
.skin-2 .nav-list > li.active > a > .menu-text {
  color: #FFF;
}
/* line 490, ace-skins.scss */
.skin-2 .nav-list > li.active > ul.submenu {
  background-color: #222;
}
/* line 494, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu:before {
  display: block;
  content: "";
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #393939;
  opacity: 0.12;
}
/* line 508, ace-skins.scss */
.skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .badge:not(.badge-transparent), .skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .label:not(.label-transparent) {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* line 511, ace-skins.scss */
.skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .badge.badge-transparent, .skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .label.label-transparent {
  color: rgba(255, 255, 255, 0.75) !important;
}
/* line 514, ace-skins.scss */
.skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .badge.badge-transparent [class*="icon-"], .skin-2 .sidebar:not(.menu-min) .nav-list > li:not(.active) > a:hover .label.label-transparent [class*="icon-"] {
  color: rgba(255, 255, 255, 0.75) !important;
}
/* line 518, ace-skins.scss */
.skin-2 .nav-list > li > a:hover {
  background-color: #C6487E;
}
/* line 522, ace-skins.scss */
.skin-2 .menu-min .nav-list > li:hover > a, .skin-2 .menu-min .nav-list > li.active > a {
  background-color: #C6487E;
}
/* line 527, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu:before {
  background-color: #35262D;
}
/* line 530, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) > a:hover {
  background-color: #00BE67;
}
/* line 535, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(1):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(1) > a {
  background-color: #00BE67;
}
/* line 540, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) > ul.submenu:before {
  background-color: #00BE67;
}
/* line 543, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) > a:hover {
  background-color: #5ED02B;
}
/* line 548, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(2):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(2) > a {
  background-color: #5ED02B;
}
/* line 553, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) > ul.submenu:before {
  background-color: #5ED02B;
}
/* line 556, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) > a:hover {
  background-color: #A7D700;
}
/* line 561, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(3):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(3) > a {
  background-color: #A7D700;
}
/* line 566, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) > ul.submenu:before {
  background-color: #A7D700;
}
/* line 569, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) > a:hover {
  background-color: #CEE100;
}
/* line 574, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(4):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(4) > a {
  background-color: #CEE100;
}
/* line 579, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) > ul.submenu:before {
  background-color: #CEE100;
}
/* line 582, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) > a:hover {
  background-color: #F8C600;
}
/* line 587, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(5):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(5) > a {
  background-color: #F8C600;
}
/* line 592, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) > ul.submenu:before {
  background-color: #F8C600;
}
/* line 595, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) > a:hover {
  background-color: #FFAB00;
}
/* line 600, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(6):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(6) > a {
  background-color: #FFAB00;
}
/* line 605, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) > ul.submenu:before {
  background-color: #FFAB00;
}
/* line 608, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) > a:hover {
  background-color: #FF6E00;
}
/* line 613, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(7):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(7) > a {
  background-color: #FF6E00;
}
/* line 618, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) > ul.submenu:before {
  background-color: #FF6E00;
}
/* line 621, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) > a:hover {
  background-color: #F21C30;
}
/* line 626, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(8):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(8) > a {
  background-color: #F21C30;
}
/* line 631, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) > ul.submenu:before {
  background-color: #F21C30;
}
/* line 634, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) > a:hover {
  background-color: #EE218B;
}
/* line 639, ace-skins.scss */
.skin-2 .menu-min .nav-listli:nth-child(9):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(9) > a {
  background-color: #EE218B;
}
/* line 644, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) > ul.submenu:before {
  background-color: #EE218B;
}
/* line 647, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) > a:hover {
  background-color: #C55EE7;
}
/* line 652, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(10):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(10) > a {
  background-color: #C55EE7;
}
/* line 657, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) > ul.submenu:before {
  background-color: #C55EE7;
}
/* line 660, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) > a:hover {
  background-color: #218BEE;
}
/* line 665, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(11):hover > a, .skin-2 .menu-min .nav-list li.active:nth-child(11) > a {
  background-color: #218BEE;
}
/* line 670, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) > ul.submenu:before {
  background-color: #218BEE;
}
/* line 673, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) > a:hover {
  background-color: #2ECEE7;
}
/* line 678, ace-skins.scss */
.skin-2 .menu-min .nav-list li:nth-child(12):hover > a, .skin-2 .menu-min .nav-listli.active:nth-child(12) > a {
  background-color: #2ECEE7;
}
/* line 683, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) > ul.submenu:before {
  background-color: #2ECEE7;
}
/* line 686, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu {
  border-top-style: inset;
}
/* line 690, ace-skins.scss */
.skin-2 .menu-min .nav-list > li > ul.submenu {
  border-top-color: #666 !important;
}
/* line 694, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu {
  border-top-color: #C6487E;
}
/* line 697, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) > ul.submenu {
  border-top-color: #00BE67;
}
/* line 700, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) > ul.submenu {
  border-top-color: #5ED02B;
}
/* line 703, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) > ul.submenu {
  border-top-color: #A7D700;
}
/* line 706, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) > ul.submenu {
  border-top-color: #CEE100;
}
/* line 709, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) > ul.submenu {
  border-top-color: #F8C600;
}
/* line 712, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) > ul.submenu {
  border-top-color: #FFAB00;
}
/* line 715, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) > ul.submenu {
  border-top-color: #FF6E00;
}
/* line 718, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) > ul.submenu {
  border-top-color: #F21C30;
}
/* line 721, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) > ul.submenu {
  border-top-color: #EE218B;
}
/* line 724, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) > ul.submenu {
  border-top-color: #C55EE7;
}
/* line 727, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) > ul.submenu {
  border-top-color: #218BEE;
}
/* line 730, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) > ul.submenu {
  border-top-color: #2ECEE7;
}
/* line 733, ace-skins.scss */
.skin-2 .nav-list > li > ul.submenu li.active > a {
  color: #C6487E;
}
/* line 736, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) > ul.submenu li.active > a {
  color: #00BE67;
}
/* line 739, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) > ul.submenu li.active > a {
  color: #5ED02B;
}
/* line 742, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) > ul.submenu li.active > a {
  color: #A7D700;
}
/* line 745, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) > ul.submenu li.active > a {
  color: #CEE100;
}
/* line 748, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) > ul.submenu li.active > a {
  color: #F8C600;
}
/* line 751, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) > ul.submenu li.active > a {
  color: #FFAB00;
}
/* line 754, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) > ul.submenu li.active > a {
  color: #FF6E00;
}
/* line 757, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) > ul.submenu li.active > a {
  color: #F21C30;
}
/* line 760, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) > ul.submenu li.active > a {
  color: #EE218B;
}
/* line 763, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) > ul.submenu li.active > a {
  color: #C55EE7;
}
/* line 766, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) > ul.submenu li.active > a {
  color: #218BEE;
}
/* line 769, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) > ul.submenu li.active > a {
  color: #2ECEE7;
}
/* line 772, ace-skins.scss */
.skin-2 .nav-list > li.active > a {
  background-color: #242424;
}
/* line 774, ace-skins.scss */
.skin-2 .nav-list > li.active > a:hover {
  background-color: #242424;
}
/* line 779, ace-skins.scss */
.skin-2 .sidebar-collapse {
  background-color: #2C2C2C;
  border-top: 1px solid #666;
  border-bottom: 1px solid #777;
}
/* line 783, ace-skins.scss */
.skin-2 .sidebar-collapse:before {
  border-color: #666;
}
/* line 786, ace-skins.scss */
.skin-2 .sidebar-collapse > [class*="icon-"] {
  background-color: #333;
}
/* line 790, ace-skins.scss */
.skin-2 .sidebar-shortcuts {
  background-color: #393939;
  border-color: #666;
  min-height: 40px;
}
/* line 795, ace-skins.scss */
.skin-2 .sidebar > .nav-search {
  background-color: #393939;
  border-color: #666;
}
/* line 799, ace-skins.scss */
.skin-2 .sidebar-shortcuts .btn {
  border-radius: 32px !important;
  border-width: 2px;
  background-color: #555 !important;
}
/* line 803, ace-skins.scss */
.skin-2 .sidebar-shortcuts .btn:hover {
  background-color: #222 !important;
}
/* line 807, ace-skins.scss */
.skin-2 .menu-min .sidebar-shortcuts-large {
  border: none;
  box-shadow: none;
  background-color: #393939;
  top: 0px;
}
/* line 813, ace-skins.scss */
.skin-2 .sidebar-shortcuts-mini {
  background-color: #141A1B;
  border-color: #3F4E54;
}
/* line 816, ace-skins.scss */
.skin-2 .sidebar-shortcuts-mini .btn {
  border-width: 2px !important;
  border-radius: 32px !important;
  padding: 6px !important;
  opacity: 1;
  background-color: inherit;
}
/* line 824, ace-skins.scss */
.skin-2 .breadcrumbs {
  border: none;
  background-color: #E7F2F8;
  margin: 8px 8px 0;
  border-radius: 4px;
}
/* line 831, ace-skins.scss */
.skin-2 .nav-list > li .submenu a {
  background-color: transparent !important;
}
/* line 834, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > .submenu a {
  border-top-color: #CCC;
}
/* line 837, ace-skins.scss */
.skin-2 .nav-list > li.active > .submenu > li > .submenu a {
  border-top-color: #999;
}
/* line 841, ace-skins.scss */
.skin-2 .nav-list > li > .submenu li > .submenu > li a {
  color: #D5D5D5;
}
/* line 843, ace-skins.scss */
.skin-2 .nav-list > li > .submenu li > .submenu > li a > [class*="icon-"]:first-child {
  color: #D5D5D5;
}
/* line 847, ace-skins.scss */
.skin-2 .nav-list > li > .submenu li > .submenu li.active > a > [class*="icon-"]:first-child {
  color: inherit;
}
/* line 851, ace-skins.scss */
.skin-2 .nav-list > li .submenu a > .arrow {
  color: #CCC;
}
/* line 855, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > a:hover > .arrow {
  color: #EEE;
}
/* line 859, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > .submenu > li > a {
  margin-left: 0;
  padding-left: 38px;
}
/* line 860, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > .submenu > li > a:hover > .arrow {
  color: #EEE;
}
/* line 866, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > .submenu > li > .submenu > li > a {
  margin-left: 0;
  padding-left: 54px;
}
/* line 872, ace-skins.scss */
.skin-2 .nav-list > li ul.submenu li.open > a {
  color: #C6487E;
}
/* line 875, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(1) ul.submenu li.open > a {
  color: #00BE67;
}
/* line 878, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(2) ul.submenu li.open > a {
  color: #5ED02B;
}
/* line 881, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(3) ul.submenu li.open > a {
  color: #A7D700;
}
/* line 884, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(4) ul.submenu li.open > a {
  color: #CEE100;
}
/* line 887, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(5) ul.submenu li.open > a {
  color: #F8C600;
}
/* line 890, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(6) ul.submenu li.open > a {
  color: #FFAB00;
}
/* line 893, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(7) ul.submenu li.open > a {
  color: #FF6E00;
}
/* line 896, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(8) ul.submenu li.open > a {
  color: #F21C30;
}
/* line 899, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(9) ul.submenu li.open > a {
  color: #EE218B;
}
/* line 902, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(10) ul.submenu li.open > a {
  color: #C55EE7;
}
/* line 905, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(11) ul.submenu li.open > a {
  color: #218BEE;
}
/* line 908, ace-skins.scss */
.skin-2 .nav-list > li:nth-child(12) ul.submenu li.open > a {
  color: #2ECEE7;
}
/* line 911, ace-skins.scss */
.skin-2 .nav-list > li ul.submenu li > a:hover {
  color: #FFF;
}
/* line 916, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li.open > a > [class*="icon-"]:first-child, .skin-2 .nav-list > li > .submenu > li.open > a > .arrow {
  color: inherit;
}
/* line 920, ace-skins.scss */
.skin-2 .nav-list > li > .submenu > li > .submenu > li.open > a > [class*="icon-"]:first-child, .skin-2 .nav-list > li > .submenu > li > .submenu > li.open > a > .arrow {
  color: inherit;
}

/* default */
/*default*/
@media only screen and (max-width: 979px) {
  /* line 933, ace-skins.scss */
  .skin-2 .sidebar {
    border: none;
    box-shadow: none;
  }
  /* line 937, ace-skins.scss */
  .skin-2 .nav-list li.active > a:after {
    display: none;
  }
  /* line 940, ace-skins.scss */
  .skin-2 .breadcrumbs {
    margin: 0;
    border-radius: 0;
  }
  /* line 945, ace-skins.scss */
  .skin-2 .menu-min .nav-list > li.active > a:after {
    display: none;
  }
  /* line 948, ace-skins.scss */
  .skin-2 .menu-min .nav-list > li.active:hover > a:after {
    display: block;
  }
}
/*3rd & 4th level*/
/* the 3rd and 4th level open link colors */
/* skin#3 */
/* line 962, ace-skins.scss */
.skin-3 .main-content {
  background: #FFF;
  background: -moz-linear-gradient(top, #eef5fa 0%, white 8%) 0 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eef5fa), color-stop(4%, white)) 0 4px;
  background: -webkit-linear-gradient(top, #eef5fa 0%, white 8%) 0 4px;
  background: -o-linear-gradient(top, #eef5fa 0%, white 8%) 0 4px;
  background: -ms-linear-gradient(top, #eef5fa 0%, white 8%) 0 4px;
  background: linear-gradient(top, #eef5fa 0%, #ffffff 8%) 0 4px;
  -moz-background-size: 100% 26px;
  -webkit-background-size: 100% 26px;
  -o-background-size: 100% 26px;
  -ms-background-size: 100% 26px;
  background-size: 100% 26px;
}
/* line 976, ace-skins.scss */
.skin-3 .navbar .navbar-inner {
  background: #393939;
}
/* line 979, ace-skins.scss */
.skin-3 .sidebar {
  background-color: #D6D6D6;
  border-right: 1px solid #A4C6DD;
}
/* line 982, ace-skins.scss */
.skin-3 .sidebar:before {
  background-color: #D6D6D6;
  border-right: 1px solid #A4C6DD;
}
/* line 987, ace-skins.scss */
.skin-3 .page-content {
  background-color: transparent;
  /* so that .main-content's background can be seen */
}
/* line 991, ace-skins.scss */
.skin-3 .infobox:not(.infobox-dark) {
  border-style: solid;
  background-color: transparent;
}
/* line 995, ace-skins.scss */
.skin-3 .nav-list > li {
  border-color: #F2F2F2;
  border-bottom-width: 0;
  position: relative;
}
/* line 999, ace-skins.scss */
.skin-3 .nav-list > li:before {
  display: inline-block;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 0;
  overflow: hidden;
  border-left: 3px solid #444;
}
/* line 1011, ace-skins.scss */
.skin-3 .nav-list > li.active:before {
  border-left-color: #4D96CB;
}
/* line 1014, ace-skins.scss */
.skin-3 .nav-list > li:first-child {
  border-top: 1px solid #F2F2F2;
}
/* line 1017, ace-skins.scss */
.skin-3 .nav-list > li:last-child {
  border-bottom-width: 1px;
}
/* line 1020, ace-skins.scss */
.skin-3 .nav-list > li:hover {
  border-left-color: #1963AA;
  border-top-color: #EEE;
}
/* line 1023, ace-skins.scss */
.skin-3 .nav-list > li:hover + li {
  border-top-color: #EEE;
}
/* line 1027, ace-skins.scss */
.skin-3 .nav-list > li:last-child:hover {
  border-bottom-color: #EEE;
}
/* line 1030, ace-skins.scss */
.skin-3 .nav-list > li.active {
  border-left-color: #1A67BD;
  border-top-color: #A4C6DD !important;
}
/* line 1033, ace-skins.scss */
.skin-3 .nav-list > li.active + li {
  border-top-color: #A4C6DD;
}
/* line 1036, ace-skins.scss */
.skin-3 .nav-list > li.active:last-child {
  border-bottom-color: #A4C6DD;
}
/* line 1040, ace-skins.scss */
.skin-3 .nav-list > li > a {
  background-color: #E0E0E0;
  color: #5A5A5A;
}
/* line 1041, ace-skins.scss */
.skin-3 .nav-list > li > a:hover:before {
  display: none;
}
/* line 1047, ace-skins.scss */
.skin-3 .nav-list > li:hover > a {
  background-color: #EEE;
  color: #1963AA;
}
/* line 1051, ace-skins.scss */
.skin-3 .nav-list > li > a:focus {
  color: #1963AA;
}
/* line 1054, ace-skins.scss */
.skin-3 .nav-list > li.open > a {
  background-color: #F3F3F3;
  color: #1963AA;
}
/* line 1060, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.open > a {
  background-color: #E0E0E0;
  color: #5A5A5A;
}
/* line 1063, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.open > a > .menu-text {
  color: #1963AA;
}
/* line 1067, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.active > a > .menu-text {
  border-left-color: #EEE;
}
/* line 1072, ace-skins.scss */
.skin-3 .nav-list > li.active > a {
  background-color: #EEF8FF;
  color: #4D96CB;
}
/* line 1078, ace-skins.scss */
.skin-3 .nav-list li.active > a:after {
  border-right-color: #FFF;
  right: -1px;
  top: 0;
  z-index: 12;
  border-width: 18px 12px;
}
/* line 1085, ace-skins.scss */
.skin-3 .nav-list li.active > a:before {
  /*the blue one under the white one!*/
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  /**/
  left: auto;
  bottom: auto;
  width: auto;
  max-width: auto;
  background-color: transparent;
  border-style: solid;
  border-width: 18px 12px;
  border-color: transparent;
  border-right-color: #A4C6DD;
}
/* line 1107, ace-skins.scss */
.skin-3 .nav-list li.active.open > a:after, .skin-3 .nav-list li.active.open > a:before {
  display: none;
}
/* line 1111, ace-skins.scss */
.skin-3 .nav-list li.active.open > .submenu > li.active.open > a.dropdown-toggle:before {
  display: none;
}
/* line 1114, ace-skins.scss */
.skin-3 .nav-list li.active.open > .submenu > li.active > a:before {
  display: block;
}
/* line 1118, ace-skins.scss */
.skin-3 .nav-list li.active > .submenu > li.active > a:before {
  display: none;
}
/* line 1124, ace-skins.scss */
.skin-3 .nav-list > li.active.open > .submenu li.active > a:before, .skin-3 .nav-list > li.active.open > .submenu li.active > a:after {
  border-width: 14px 10px;
  top: 2px;
}
/* line 1130, ace-skins.scss */
.skin-3 .nav-list > li.active.open > .submenu .submenu li.active > a:before, .skin-3 .nav-list > li.active.open > .submenu .submenu li.active > a:after {
  top: 0;
}
/* line 1135, ace-skins.scss */
.skin-3 .nav-list > li.active:after {
  /* the white border on right */
  display: none;
}
/* line 1143, ace-skins.scss */
.skin-3 .menu-min .nav-list li.active.open > .submenu > li.active > a:before {
  display: none;
}
/* line 1147, ace-skins.scss */
.skin-3 .menu-min .nav-list li.active > a:after, .skin-3 .menu-min .nav-list li.active > a:before {
  display: none;
}
/* line 1152, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.active > a {
  background-color: #4D96CB;
  color: #FFF;
}
/* line 1155, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.active > a > .menu-text {
  color: #4D96CB;
}
/* line 1159, ace-skins.scss */
.skin-3 .menu-min .nav-list > li.active > a:after {
  display: block;
  border-width: 12px 7px;
  top: 5px;
}
/* line 1165, ace-skins.scss */
.skin-3 .menu-min .sidebar-shortcuts {
  border-left: none;
}
/* line 1169, ace-skins.scss */
.skin-3 .sidebar.menu-min > .nav-search {
  border-left: none;
}
/* line 1173, ace-skins.scss */
.skin-3 .menu-min .nav-list > li > .submenu, .skin-3 .menu-min .nav-list > li.active > .submenu {
  border-left-color: #CCC;
}
/* line 1177, ace-skins.scss */
.skin-3 .nav-list > li > a > .arrow {
  right: 10px;
}
/* line 1180, ace-skins.scss */
.skin-3 .sidebar-collapse {
  background-color: #D0D0D0;
  border-color: #FFF;
}
/* line 1183, ace-skins.scss */
.skin-3 .sidebar-collapse:before {
  border-color: #FFF;
}
/* line 1186, ace-skins.scss */
.skin-3 .sidebar-collapse > [class*="icon-"] {
  background-color: #FFF;
  border-color: #999;
  color: #999;
}
/* line 1192, ace-skins.scss */
.skin-3 .sidebar-shortcuts {
  background-color: #E0E0E0;
  border-bottom: none;
  border-color: #FFF;
  min-height: 40px;
  border-left: 3px solid #444;
}
/* line 1199, ace-skins.scss */
.skin-3 .sidebar > .nav-search {
  background-color: #E0E0E0;
  border-bottom: none;
  border-color: #FFF;
  border-left: 3px solid #444;
}
/* line 1205, ace-skins.scss */
.skin-3 .sidebar-shortcuts-mini {
  background-color: #E0E0E0;
}
/* line 1207, ace-skins.scss */
.skin-3 .sidebar-shortcuts-mini > .btn {
  opacity: 1;
}
/* line 1211, ace-skins.scss */
.skin-3 .menu-min .sidebar-shortcuts-large {
  background-color: #F5F5F5;
  top: -1px;
}
/* line 1215, ace-skins.scss */
.skin-3 .breadcrumbs {
  border: none;
  border-radius: 4px;
  background-color: #E7F2F8;
  margin: 8px 8px 0;
}
/* line 1221, ace-skins.scss */
.skin-3 .nav-search-input {
  border-radius: 4px;
}
/* line 1224, ace-skins.scss */
.skin-3 .page-content > .page-header:first-child {
  border-bottom-color: #C9C9C9;
}
/* line 1227, ace-skins.scss */
.skin-3 .hr {
  border-color: #D5D5D5;
}

/* extra a:after rules applied to a:before as well for skin-3 */
@media only screen and (max-width: 979px) {
  /* line 1236, ace-skins.scss */
  .skin-3 .sidebar, .skin-3 .nav-list > li, .skin-3 .sidebar-shortcuts {
    border-left: none;
  }
  /* line 1239, ace-skins.scss */
  .skin-3 .sidebar {
    border-color: #A4C6DD;
  }
  /* line 1242, ace-skins.scss */
  .skin-3 .breadcrumbs {
    border-radius: 0;
    margin: 0;
  }
  /* line 1246, ace-skins.scss */
  .skin-3 .menu-toggler {
    background-color: #62A8D1;
    color: #FFF;
  }
  /* line 1249, ace-skins.scss */
  .skin-3 .menu-toggler:after, .skin-3 .menu-toggler:before {
    border-color: #FFF;
  }
  /* line 1252, ace-skins.scss */
  .skin-3 .menu-toggler > .menu-text {
    border-top-color: #62A8D1;
  }
  /* line 1254, ace-skins.scss */
  .skin-3 .menu-toggler > .menu-text:after {
    color: #FFF;
  }
  /* line 1260, ace-skins.scss */
  .skin-3 .nav-list li.active > a:before, .skin-3 .nav-list li.active > a:after {
    display: none;
  }
  /* line 1265, ace-skins.scss */
  .skin-3 .menu-min .nav-list li.active > a:before, .skin-3 .menu-min .nav-list li.active > a:after {
    display: none;
  }
  /* line 1269, ace-skins.scss */
  .skin-3 .nav-list li.active.open > .submenu > li.active > a:before {
    display: none;
  }
  /* line 1272, ace-skins.scss */
  .skin-3 .menu-min .nav-list > li.active.open:hover > a:after {
    display: block !important;
  }
}
/* RTL */
/* line 1282, ace-skins.scss */
.rtl.skin-1 .sidebar {
  border-left: none;
}
/* line 1284, ace-skins.scss */
.rtl.skin-1 .sidebar:before {
  border-left: none;
}
/* line 1288, ace-skins.scss */
.rtl.skin-1 .nav-list li.active > a:after {
  border-right-color: transparent;
  border-left-color: #FFF;
}
/* line 1293, ace-skins.scss */
.rtl.skin-1 .menu-min .nav-list > li.active:hover > a:after {
  border-left-color: #242A2B;
  border-right-color: transparent;
}
/* line 1298, ace-skins.scss */
.rtl.skin-1 .menu-min .nav-list > li > a > .menu-text, .rtl.skin-1 .menu-min .nav-list > li > ul.submenu {
  border-left-color: #3F4E54;
  border-right-color: #242A2B;
}
/* line 1306, ace-skins.scss */
.rtl.skin-2 .sidebar {
  border-left: none;
}
/* line 1308, ace-skins.scss */
.rtl.skin-2 .sidebar:before {
  border-left: none;
}
/* line 1313, ace-skins.scss */
.rtl.skin-2 .nav-list li.active > a:after {
  border-right-color: transparent;
  border-left-color: #FFF;
}
/* line 1318, ace-skins.scss */
.rtl.skin-2 .nav-list > li.active > a:after, .rtl.skin-2 .nav-list > li.active > .submenu > li.active > a:after {
  right: auto;
  left: 0;
}
/* line 1324, ace-skins.scss */
.rtl.skin-2 .menu-min .nav-list > li.active:hover > a:after {
  border-right-color: transparent;
  border-left-color: #292929;
}
/* line 1328, ace-skins.scss */
.rtl.skin-2 .nav-list > li.active.open > .submenu > li.active > a:after {
  border-right-color: transparent;
  border-left-color: #FFF;
  right: auto;
  left: 0;
}
/* line 1335, ace-skins.scss */
.rtl.skin-2 .menu-min .nav-list > li > a > .menu-text {
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.5);
}
/* line 1338, ace-skins.scss */
.rtl.skin-2 .menu-min .nav-list > li > ul.submenu {
  margin-left: auto;
  margin-right: 1px;
  border-left: none;
  border-right: 1px solid #FFF;
}
/* line 1346, ace-skins.scss */
.rtl.skin-2 .nav-list > li > ul.submenu > li > a {
  padding-left: 0;
  padding-right: 28px;
}
/* line 1351, ace-skins.scss */
.rtl.skin-2 .nav-list > li > .submenu > li > .submenu > li > a {
  margin-left: auto;
  padding-left: 0;
  margin-right: 0;
  padding-right: 38px;
}
/* line 1357, ace-skins.scss */
.rtl.skin-2 .nav-list > li > .submenu > li > .submenu > li > .submenu > li > a {
  margin-left: auto;
  padding-left: 0;
  margin-right: 0;
  padding-right: 54px;
}
/* line 1367, ace-skins.scss */
.rtl.skin-3 .sidebar {
  border-right: none;
  border-left: 1px solid #A4C6DD;
}
/* line 1370, ace-skins.scss */
.rtl.skin-3 .sidebar:before {
  border-right: none;
  border-left: 1px solid #A4C6DD;
}
/* line 1376, ace-skins.scss */
.rtl.skin-3 .nav-list > li:before {
  left: auto;
  right: 0;
  border-left: none;
  border-right: 3px solid #444;
}
/* line 1382, ace-skins.scss */
.rtl.skin-3 .nav-list > li.active:before {
  border-left: none;
  border-right-color: #4D96CB;
}
/* line 1386, ace-skins.scss */
.rtl.skin-3 .nav-list > li:hover {
  border-left-color: #F2F2F2;
  border-right-color: #1963AA;
}
/* line 1390, ace-skins.scss */
.rtl.skin-3 .nav-list > li.active {
  border-left-color: #F2F2F2;
  border-right-color: #1A67BD;
}
/* line 1395, ace-skins.scss */
.rtl.skin-3 .menu-min .nav-list > li.active > a > .menu-text {
  border-left-color: #CCC;
  border-right-color: #EEE;
}
/* line 1400, ace-skins.scss */
.rtl.skin-3 .nav-list li.active > a:after {
  border-right-color: transparent;
  border-left-color: #FFF;
  left: -1px;
  right: auto;
}
/* line 1406, ace-skins.scss */
.rtl.skin-3 .nav-list li.active > a:before {
  right: auto;
  left: 0;
  border-right-color: transparent;
  border-left-color: #A4C6DD;
}
/* line 1413, ace-skins.scss */
.rtl.skin-3 .menu-min .sidebar-shortcuts, .rtl.skin-3 .sidebar.menu-min > .nav-search {
  border-right: none;
}
/* line 1417, ace-skins.scss */
.rtl.skin-3 .menu-min .nav-list > li > .submenu, .rtl.skin-3 .menu-min .nav-list > li.active > .submenu {
  border-right-color: #CCC;
}
/* line 1421, ace-skins.scss */
.rtl.skin-3 .nav-list > li > a > .arrow {
  right: auto;
  left: 10px;
}
/* line 1425, ace-skins.scss */
.rtl.skin-3 .sidebar-shortcuts, .rtl.skin-3 .sidebar > .nav-search {
  border-left: none;
  border-right: 3px solid #444;
}

@media only screen and (max-width: 979px) {
  /* line 1434, ace-skins.scss */
  .rtl.skin-3 .sidebar, .rtl.skin-3 .nav-list > li, .rtl.skin-3 .sidebar-shortcuts {
    border-right: none;
  }
}
